:root {
	/* Brand Colors */
	--color-brandBeige: #e8e6df;
	--color-brandBlack: #292724;
	--color-brandBlue: #005eb8;
	--color-brandGrey: #7B736c;
	--color-brandRed: #da2f3b;
	--color-brandWhite: #fafaf9;
	--color-brandYellow: #e1cd00;

	/* Clip Path Varaibles */
	--topLeftX: 10;
	--topLeftY: 11;
	--topRightX: 12;
	--topRightY: 7;
	--bottomRightX: 6;
	--bottomRightY: 5;
	--bottomLeftX: 4;
	--bottomLeftY: 10;
	--rotate: 0;
	--topPadding: 2rem;
	--bottomPadding: 2rem;
	--leftPadding: 2rem;
	--rightPadding: 2rem;
}

/* 
 * Block Color Palette Colors
 *
 * Note: the namespace for each color is `caa` instead of `c4aa` because Gutenberg
 * adds a hypen in front of the 4 in CSS classes, and it is cleaner to omit it.
 */

/* Beige */

.has-caa-beige-background-color {
	background-color: var( --color-brandBeige);
}

.has-caa-beige-color {
	color: var( --color-brandBeige);
}

/* Black */

.has-caa-black-background-color {
	background-color: var( --color-brandBlack);
}

.has-caa-black-color {
	color: var( --color-brandBlack);
}

/* Blue */

.has-caa-blue-background-color {
	background-color: var( --color-brandBlue);
}

.has-caa-blue-color {
	color: var( --color-brandBlue);
}

/* Grey */

.has-caa-grey-background-color {
	background-color: var( --color-brandGrey);
}

.has-caa-grey-color {
	color: var( --color-brandGrey);
}

/* Red */

.has-caa-red-background-color {
	background-color: var( --color-brandRed);
}

.has-caa-red-color {
	color: var( --color-brandRed);
}

/* White */

.has-caa-white-background-color {
	background-color: var( --color-brandWhite);
}

.has-caa-white-color {
	color: var( --color-brandWhite);
}

/* Yellow */

.has-caa-yellow-background-color {
	background-color: var( --color-brandYellow);
}

.has-caa-yellow-color {
	color: var( --color-brandYellow);
}