:root {
	/* Brand Colors */
	--color-brandBeige: #e8e6df;
	--color-brandBlack: #000000;
	--color-brandRed: #ef3340;
	--color-brandGrey: #968c83;
	--color-brandYellow: #e1cd00;
	--color-brandBlue: #005eb8;

	/* Clip Path Varaibles */
	--topLeftX: 0;
	--topLeftY: 0;
	--topRightX: 0;
	--topRightY: 0;
	--bottomRightX: 0;
	--bottomRightY: 0;
	--bottomLeftX: 0;
	--bottomLeftY: 0;
	--rotate: 0;
	--topPadding: 1rem;
	--bottomPadding: 1rem;
	--leftPadding:1rem;
	--rightPadding: 1rem;
}

/* 
 * Block Color Palette Colors
 *
 * Note: the namespace for each color is `caa` instead of `c4aa` because Gutenberg
 * adds a hypen in front of the 4 in CSS classes, and it is cleaner to omit it.
 */

.has-caa-red-background-color {
	background-color: var( --color-brandRed);
}

.has-caa-red-color {
	color: var( --color-brandRed);
}

.has-caa-beige-background-color {
	background-color: var( --color-brandBeige);
}

.has-caa-beige-color {
	color: var( --color-brandBeige);
}

.has-caa-grey-background-color {
	background-color: var( --color-brandGrey);
}

.has-caa-grey-color {
	color: var( --color-brandGrey);
}

.has-caa-yellow-background-color {
	background-color: var( --color-brandYellow);
}

.has-caa-yellow-color {
	color: var( --color-brandYellow);
}

.has-caa-blue-background-color {
	background-color: var( --color-brandBlue);
}

.has-caa-blue-color {
	color: var( --color-brandBlue);
}