
/* Smaller default font size */
html {
	font-size: 18px;
}

/* Fallback Fonts */
body,
button, input, select, optgroup, textarea {
	line-height: 1.7;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji"	, "Segoe UI Emoji", "Segoe UI Symbol";
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Arial', sans-serif;
	letter-spacing: .14em;
	text-transform: uppercase;
}

/* Webfonts */
.wf-active body,
.wf-active button, 
.wf-active input, 
.wf-active select, 
.wf-active optgroup, 
.wf-active textarea,
.wf-active blockquote cite,
.wf-active .entry .entry-content figcaption {
	font-family: 'roboto', Georgia, serif;
}

.wf-active figure.wp-block-pullquote,
.wf-active body strong {
	font-family: 'roboto', Georgia, serif;
	font-weight: 700;
}

.wf-active .site-branding .main-navigation ul li a {
	font-family: 'metropolis', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
}

.wf-active h1, 
.wf-active h2, 
.wf-active h3,
.site-header.featured-image .entry-meta {
	font-family: 'metropolis', sans-serif;
	font-weight: 900;
	letter-spacing: .14em;
	text-transform: uppercase;
}

.wf-active h4, 
.wf-active h5, 
.wf-active h6 {
	font-family: 'roboto', Georgia, sans-serif;
	font-weight: 900;
	letter-spacing: .14em;
	text-transform: uppercase;
}
