
/* Smaller default font size */
html {
	font-size: 18px;
}

body,
button, input, select, optgroup, textarea {
	line-height: 1.7;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";;
}

