
/* Smaller default font size */
html {
	font-size: 18px;
}

/* Fallback Fonts */
body,
button, input, select, optgroup, textarea {
	line-height: 1.7;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji"	, "Segoe UI Emoji", "Segoe UI Symbol";
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Arial Black', Gadget, sans-serif;
}

/* Webfonts */
.wf-active body,
.wf-active button, 
.wf-active input, 
.wf-active select, 
.wf-active optgroup, 
.wf-active textarea {
	font-family: 'zilla_slab_regularregular', Georgia, sans-serif;
}

.wf-active h1, 
.wf-active h2, 
.wf-active h3, 
.wf-active h4, 
.wf-active h5, 
.wf-active h6 {
	font-family: 'ralewayextrabold', sans-serif;
	font-weight: normal;
}