/* Large chunk copied from theme. */
.author-description .author-link,
.comment-metadata,
.comment-reply-link,
.comments-title,
.comment-author .fn,
.discussion-meta-info,
.entry-meta,
.entry-footer,
.main-navigation,
.no-comments,
.not-found .page-title,
.error-404 .page-title,
.post-navigation .post-title,
.page-links,
.page-description,
.pagination .nav-links,
.sticky-post,
.site-title,
.site-info,
#cancel-comment-reply-link {
	font-family: inherit;
}

.archive .page-header .page-description {
	display: inline-block;
}

.archive .page-header, .search .page-header, .error404 .page-header {
	margin-bottom: 0;
}

/* Override main color */

.site-header.featured-image .site-featured-image::before, .site-header.featured-image .site-featured-image::after, .entry .post-thumbnail::before, .entry .post-thumbnail::after, .main-navigation .sub-menu, .sticky-post, .entry .entry-content .wp-block-button .wp-block-button__link:not(.has-background), .entry .entry-content > .has-primary-background-color, .entry .entry-content > [class^="wp-block-"].has-primary-background-color, .entry .entry-content > [class^="wp-block-"] .has-primary-background-color, .entry .entry-content > [class^="wp-block-"].is-style-solid-color, .entry .entry-content > [class^="wp-block-"].is-style-solid-color.has-primary-background-color,
.entry .entry-title::before,
.entry .entry-content .wp-block-separator, .entry .entry-content hr {
	background-color: var( --color-brandRed );
}

a, a:hover, a:active, a:visited, #colophon .site-info a:hover, .main-navigation .main-menu > li > a:hover, .main-navigation .main-menu > li > a:hover + svg, .post-navigation .nav-links a:hover, .post-navigation .nav-links a:hover .post-title, .author-bio .author-description .author-link:hover, .entry .entry-content > .has-secondary-color, .entry .entry-content > [class^="wp-block-"] .has-secondary-color, .entry .entry-content > [class^="wp-block-"].is-style-solid-color blockquote.has-secondary-color, .entry .entry-content > [class^="wp-block-"].is-style-solid-color blockquote.has-secondary-color p, .entry .entry-footer a:hover, .comment .comment-author .fn a:hover, .comment-reply-link:hover, .comment-navigation .nav-previous a:hover, .comment-navigation .nav-next a:hover, #cancel-comment-reply-link:hover, .widget a:hover {
	color: var( --color-brandRed );
}

.main-navigation .sub-menu > li > a:hover::after, .main-navigation .sub-menu > li > a:focus::after, .main-navigation .sub-menu > li > .menu-item-link-return:hover::after, .main-navigation .sub-menu > li > .menu-item-link-return:focus::after {
	background-color: #555;
}

.featured-image .site-branding-container {
	background: black;
	padding-top: 2rem;
	padding-bottom: 2rem;
}

.site-content {
	background-color: rgba(228, 226, 218, 0.50);
}


/* Navigation */

.main-navigation .main-menu > li > a,
.main-navigation .main-menu > li .svg-icon {
	color: var( --color-brandRed );
}

.main-navigation .main-menu > li {
	padding-right: 1rem;
}

.main-navigation .main-menu > li a {
	text-transform: initial;
}

.main-navigation .sub-menu > li > a:hover {
	background-color: var( --color-brandGrey );
}

/* Headers */

header.featured-image h1.entry-title {
	margin-left: .5em;
	margin-right: .5em;
}

h2 {
	background: var( --color-brandGrey );
}

h2:before, .entry .entry-title:before {
	content: none;
}

.entry .entry-content > h2 {
	max-width: none;
}

h3 {
	background: var( --color-brandBlack );
}

@media only screen and (min-width: 768px) {
	.entry .entry-content > h2 {
		margin-left: -1rem;
		--leftPadding: 2rem;
		--rightPadding: 2rem;
	}

	.entry .entry-content > h3 {
		max-width: 50%;
	}
}

h4 {
	background: var( --color-brandRed ); 
	display: inline-block;
}

/* Remove H1 from home */

body.home header.entry-header {
	position:absolute;
	left: -10000px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
}

/* Featured Image */

.site-header.featured-image {
	margin-bottom: 0;
	text-shadow: initial;
	padding-top: 0;
}

.site-header.featured-image .site-featured-image .entry-header .entry-title::before {
	height: 0;
}

.site-header.featured-image {
	min-height: 70vh;
}

.featured-image .site-description {
	color: white;
}


/* Image Filter Setup */

.site-header.featured-image::before, 
.site-header.featured-image::after, 
.entry .post-thumbnail::before, 
.entry .post-thumbnail::after {
	all: unset;
}

.site-header.featured-image .site-featured-image .entry-header {
	position: relative;
	z-index: 9;
	font-size: calc( 1.5vw + 20px );
	text-transform: uppercase;
	text-align: center;
}

.site-header.featured-image .site-branding-container::after, .site-header.featured-image .site-featured-image::before, .site-header.featured-image .site-featured-image::after, .site-header.featured-image::after {
	all: unset;
}

.site-header.featured-image .site-branding .site-title, .site-header.featured-image .main-navigation a::after, .site-header.featured-image .main-navigation .main-menu > li.menu-item-has-children::after, .site-header.featured-image .main-navigation li, .site-header.featured-image .social-navigation li {
	color: var( --color-brandRed );
}

/* squares circular logo in header */
.site-logo .custom-logo-link {
	border-radius: 0%;
}

/* de-hyphenate large pullquotes */
.wp-block-pullquote .alignwide, .wp-block-pullquote .alignwide blockquote, .wp-block-pullquote .alignfull, .wp-block-pullquote .alignfull blockquote {
     hyphens: manual;
}

/* remove background from logo in header */
.site-header.featured-image .custom-logo-link {
	background: none;
}

/* remove margin under featured image (so we can put the first block right under) */
.site-header.featured-image {
	margin-bottom: 0rem;
}
/* de-hyphenate large pullquotes */
.wp-block-pullquote .alignwide, .wp-block-pullquote .alignwide blockquote, .wp-block-pullquote .alignfull, .wp-block-pullquote .alignfull blockquote {
	hyphens: manual;
}

/* Post Meta Data */
.site-header.featured-image .site-featured-image .entry-header {
	margin-left: 0;
	margin-right: 0;
}

.site-header.featured-image  {
	padding-bottom: 0;
}

.site-header.featured-image .entry-title {
	padding-bottom: 3rem;
}

.site-header.featured-image .entry-meta {
	background-color: var( --duotone-foreground ); 
	color: white;
	font-family: 'Arial Black', Gadget, sans-serif;
	font-size: 0.75rem; 
	margin-top: auto;
	padding: 0.75rem;
	width: 100%;
}

.site-header.featured-image .site-featured-image .entry-header .entry-meta .svg-icon {
	display: none;
}

/* remove space between blog quotes and featured image */
.entry-content .wp-block-pullquote:first-child {
	margin-top: 0;
}

/* Block Image and Paragraph Clearfix */
.wp-block-image + p::after {
	content: "";
	clear: both;
	display: table;
}

/* Buttons */

/* all buttons overrides */

button, 
.button, 
.entry .button, 
.entry .entry-content .wp-block-file .wp-block-file__button,
.entry .entry-content .wp-block-button .wp-block-button__link,
.entry .entry-content .wp-block-button .wp-block-button__link:not(.has-background),
input[type="button"], 
input[type="reset"], 
input[type="submit"] {
	background-color: var( --color-brandRed );
	border-radius: 0;
	box-shadow: 5px 5px 0px 0px var( --color-brandGrey );
		-webkit-box-shadow: 5px 5px 0px 0px var( --color-brandGrey );
		-moz-box-shadow: 5px 5px 0px 0px var( --color-brandGrey );
	font-family: 'roboto_slablight', Georgia, serif;	
}

button:hover, 
.button:hover, 
.entry .button:hover, 
.entry .entry-content .wp-block-file .wp-block-file__button:hover,
.entry .entry-content .wp-block-button .wp-block-button__link:hover,
input[type="button"]:hover, 
input[type="reset"]:hover, 
input[type="submit"]:hover {
	background-color: var( --color-brandGrey );
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
	box-shadow: none;
}

/* outline buttons overrides */

.entry .entry-content .wp-block-button.is-style-outline .wp-block-button__link:not(.has-text-color),
.entry .entry-content .wp-block-button.is-style-outline .wp-block-button__link:not(.has-text-color):hover {
	border-color: var( --color-brandRed );
	color: var( --color-brandRed )
}

.entry .entry-content .wp-block-button:not(.is-style-squared) .wp-block-button__link {
	border-radius: 0;
}
