.page-title {
	font-family: inherit;
}

.archive .page-header .page-description {
	display: inline-block;
}

.archive .page-header, .search .page-header, .error404 .page-header {
	margin-bottom: 0;
}

/* Override main color */

.site-header.featured-image .site-featured-image::before, .site-header.featured-image .site-featured-image::after, .entry .post-thumbnail::before, .entry .post-thumbnail::after, .main-navigation .sub-menu, .sticky-post, .entry .entry-content .wp-block-button .wp-block-button__link:not(.has-background), .entry .button, button, input[type="button"], input[type="reset"], input[type="submit"], .entry .entry-content > .has-primary-background-color, .entry .entry-content > [class^="wp-block-"].has-primary-background-color, .entry .entry-content > [class^="wp-block-"] .has-primary-background-color, .entry .entry-content > [class^="wp-block-"].is-style-solid-color, .entry .entry-content > [class^="wp-block-"].is-style-solid-color.has-primary-background-color, .entry .entry-content .wp-block-file .wp-block-file__button,
.button, button, input[type="button"], input[type="reset"], input[type="submit"],
.entry .entry-title::before,
.entry .entry-content .wp-block-separator, .entry .entry-content hr {
	background-color: var( --color-brandRed );
}

a:hover, a:active, .main-navigation .main-menu > li > a:hover, .main-navigation .main-menu > li > a:hover + svg, .post-navigation .nav-links a:hover, .post-navigation .nav-links a:hover .post-title, .author-bio .author-description .author-link:hover, .entry .entry-content > .has-secondary-color, .entry .entry-content > [class^="wp-block-"] .has-secondary-color, .entry .entry-content > [class^="wp-block-"].is-style-solid-color blockquote.has-secondary-color, .entry .entry-content > [class^="wp-block-"].is-style-solid-color blockquote.has-secondary-color p, .comment .comment-author .fn a:hover, .comment-reply-link:hover, .comment-navigation .nav-previous a:hover, .comment-navigation .nav-next a:hover, #cancel-comment-reply-link:hover, .widget a:hover {
	color: var( --color-brandRed );
}

.main-navigation .sub-menu > li > a:hover::after, .main-navigation .sub-menu > li > a:focus::after, .main-navigation .sub-menu > li > .menu-item-link-return:hover::after, .main-navigation .sub-menu > li > .menu-item-link-return:focus::after {
	background-color: #555;
}

.featured-image .site-branding-container {
	background: black;
	padding-top: 2rem;
	padding-bottom: 2rem;
}

.site-content {
	background-color: rgba(228, 226, 218, 0.50);
}


/* Navigation */

.main-navigation .main-menu > li > a,
.main-navigation .main-menu > li .svg-icon {
	color: var( --color-brandRed );
}

.main-navigation .main-menu > li {
	padding-right: 1rem;
}

.main-navigation .main-menu > li a {
	text-transform: initial;
}

.main-navigation .sub-menu > li > a:hover,
input[type="submit"]:hover {
	background-color: var( --color-brandGrey );
}


/* Featured Image */

.site-header.featured-image {
	margin-bottom: 0;
	text-shadow: initial;
	padding-top: 0;
}

.site-header.featured-image .site-featured-image .entry-header .entry-title::before {
	height: 0;
}

.site-header.featured-image {
	min-height: 70vh;
}

.featured-image .site-description {
	color: white;
}


/* Image Filter Setup */

.site-header.featured-image::before, 
.site-header.featured-image::after, 
.entry .post-thumbnail::before, 
.entry .post-thumbnail::after {
	all: unset;
}

.site-header.featured-image .site-featured-image .entry-header {
	position: relative;
	z-index: 9;
	font-size: calc( 3vw + 20px );
	text-transform: uppercase;
	text-align: center;
}

.site-header.featured-image .site-branding-container::after, .site-header.featured-image .site-featured-image::before, .site-header.featured-image .site-featured-image::after, .site-header.featured-image::after {
	all: unset;
}

.site-header.featured-image .site-branding .site-title, .site-header.featured-image .main-navigation a::after, .site-header.featured-image .main-navigation .main-menu > li.menu-item-has-children::after, .site-header.featured-image .main-navigation li, .site-header.featured-image .social-navigation li, .site-header.featured-image .entry-meta {
	color: var( --color-brandRed );
}

.site-logo .custom-logo-link {
	border-radius: 0%;
}

.wp-block-pullquote .alignwide, .wp-block-pullquote .alignfull {
	hyphens: manual;
}
