/**********/
/* Blocks */
/**********/

/* Cover media image */
/* 
Commenting this out in case it needs to come back. 
If still here by 8/10/2019, remove this code.
.wp-block-media-text__media {
	height: 100%;
}

.wp-block-media-text__media img {
	height: 100%;
	object-fit: cover;
	object-position: center center;
} */


/***********/
/* Archive */
/***********/

@media( min-width: 768px ) {

	@supports ( display: grid ) {
		.c4aa-excerpt-grid .entry {
			display: grid;
			grid-template-columns: 2fr 1fr;
			grid-template-rows: minmax(100px, min-content) 1fr;
			grid-gap: 1rem;
	
			max-width: 1100px;
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 1rem;
			padding-top: 1rem;
			padding-left: 1rem;
			padding-right: 1rem;
		}

		.c4aa-excerpt-grid .entry .entry-header,
		.c4aa-excerpt-grid .entry .entry-footer,
		.c4aa-excerpt-grid .entry .entry-content,
		.c4aa-excerpt-grid .entry .post-thumbnail {
			margin: 0;
			padding: 0;
		}

		.c4aa-excerpt-grid .entry-header {
			display: flex;
			flex-direction: column;
			justify-content: end;
		}

		.c4aa-excerpt-grid .entry-header {
			grid-column: 1;
		}

		.c4aa-excerpt-grid .entry .entry-content {
			grid-column: 1;
			max-width: none;
		}

		.c4aa-excerpt-grid .entry .post-thumbnail {
			grid-row: 1 / -1;
			grid-column: 2;
		}

		.c4aa-excerpt-grid .entry .post-thumbnail .post-thumbnail-inner {
			display: flex;
			height: 100%;
		}

		.c4aa-excerpt-grid .entry .entry-footer {
			grid-column: 1 / -1;
			max-width: none;
		}
	}

}

/****************/
/* Donate Form */
/***************/

/* closed modal */

#give-payment-mode-select,
#give_purchase_form_wrap,
.mfp-preloader {
	display: none;
}

.give-form {
	background-color: var( --color-brandBeige );
	border: 2px solid var( --color-brandGrey );
	padding: 1.5rem;
}

/* open modal */

.give-modal-open .give-form {
	background-color: rgba(228, 226, 218, 0.50);
	border: none;
	min-height: 100vh;
	overflow: auto;
	padding: 0;
} 

.give-modal-open #give-payment-mode-select,
.give-modal-open #give_purchase_form_wrap {
	display: block;
}

.mfp-close {
	padding: 1rem;
	float: right;
	margin-right: 1rem;
	line-height: 0;
}

.give-modal-open .give-form::after {
	clear: both;
	content: "";
	display: table;
}

/* general styles */ 
.give-donation-levels-wrap,
#give-gateway-radio-list {
	display: flex;
	flex-wrap: wrap;
}

#give-gateway-radio-list {
	padding-left: 0;
}

.give-donation-levels-wrap li,
#give-gateway-radio-list li {
	list-style: none;
	padding-bottom: 1.5rem;
	padding-right: 1.5rem;
}


[for="give-amount"],
.give-currency-symbol {
	font-weight: bold;
}


/****************************************/
/* Main Menu / Branding Container */
/****************************************/

/* set branding container to the top and add color*/
.featured-image .site-branding-container,
.site-header:not(.featured-image) {
	z-index: 10;
	background-color:  var(	--color-brandBeige );
	
}

/* recenter featured image */
.site-header.featured-image .site-featured-image .post-thumbnail img {
	top: 5rem;
}


/*remove default button shadows */
.main-navigation .main-menu > li.menu-item-has-children .c4aa-default-button-wrapper {
	filter: none;
}


/* style logo */
.site-logo .custom-logo-link:hover, 
.site-logo .custom-logo-link:active, 
.site-logo .custom-logo-link:focus,
.site-header.featured-image .custom-logo-link:hover,
.site-header.featured-image .custom-logo-link:active,
.site-header.featured-image .custom-logo-link:focus {
	box-shadow: none;
	opacity: 0.6;
}

/* style text */

.site-title {
	font-family: 'roboto', Georgia, serif;
	font-weight: bold;
	text-transform: uppercase;
	margin: 0;
}

.site-title a:link, .site-title a:visited,
.site-header.featured-image .site-title a,
.site-header.featured-image .site-title a:hover,
.site-header.featured-image .main-navigation a, 
.site-header.featured-image .main-navigation a + svg, 
.site-header.featured-image .social-navigation a, 
.site-header.featured-image .site-featured-image a,
.main-navigation .main-menu > li > a, 
.main-navigation .main-menu > li .svg-icon  {
	color:  var( --color-brandBlack );

}

.site-header.featured-image .main-navigation a:hover, 
.site-header.featured-image .main-navigation a:active, 
.site-header.featured-image .main-navigation a + svg:hover, 
.site-header.featured-image .main-navigation a + svg:active, 
.site-header.featured-image .social-navigation a:hover, 
.site-header.featured-image .social-navigation a:active, 
.site-header.featured-image .site-featured-image a:hover 
.site-header.featured-image .site-featured-image a:active {
	color:  var( --color-brandRed );
	opacity: 1;
}

.main-menu li {
	font-size: 1rem;
}


.site-branding::after {
	content: "";
	display: table;
	clear: both;

}

.site-logo {
	float: left;
}

.featured-image .site-branding-container,
.site-header {
	padding: 1rem 1rem;
}

@media( min-width: 768px )  {


	.site-branding {
		overflow: hidden;
	}

	.site-logo img {
		max-width: 70%;
		margin-top: .5rem;
	}

	#site-navigation ul li {
		overflow-wrap: initial;
	}

	.site-title,
	.featured-image .site-title {
		margin-top: 1rem;
		max-width: 50%;
		float: left;
	}
	
	.site-logo {
		position: static;
		float: right;
	}
}

@media( min-width: 1000px )  {
	.featured-image .site-branding-container,
	.site-header {
		padding: .3rem 0;
	}


	.site-branding {
		min-height: 5rem;
	}

	.site-title {
		position: relative;
	}

	.site-title::after {
		position: absolute;
		left: 85.7%;
		top: 30%;
		content: ' ';
		width: 55px;
		height: 5px;
		background-color: var( --color-brandRed );
		transform: rotate(-70deg)
	}

	.site-title,
	.featured-image .site-title {
		max-width: 20%;
		font-size: .925rem;
	}

	#site-navigation {
		margin-top: 0;
	}

	#menu-2019menu {
		float: left;
		padding-top: 25px;
		padding-left: 5px;
	}
}

