.a-colophon-grid {
	display: grid;
	grid-gap: 1rem;
	justify-items: center;
}

@media( min-width: 800px ) {
	.a-colophon-grid {
		grid-template-columns: 1fr 80px 1fr;
	}
}


.u-width-50 {
	width: 50px;
}

.u-width-100p {
	width: 100%;
}

.u-display-inline-block {
	display: inline-block;
}

.u-flex {
	display: flex;
}

.u-flex-basis-15p {
	flex-basis: 15%;
}

.u-align-items-center {
	align-items: center;
}
