/* 
 * Title Effects
 */

.c4aa-titleEffect\(red-banner\) .site-header.featured-image .site-featured-image .entry-header {
	/* mix-blend-mode: multiply; */
	background-color: var( --color-brandRed );
	
	clip-path: polygon(100% 0px, 100% 100%, 14.03% 103.11%, var( --top-left-corner, 20px 2.65% ) );
	padding-left: 6rem;
	padding-right: 2rem;
	
	transform: translateY( calc( -100% - 3rem ) );
	position: absolute;
	right: 0;
	margin-right: 0;
}

.c4aa-titleEffect\(red-banner\) .site-header.featured-image .site-featured-image .entry-title {
	letter-spacing: 2px;
}


