/* 
 * Image Filters
 */

/*******************/
/* Duotone Filters */
/*******************/

/* Duoton Defaults */
:root {
	/* Default Colors */
	--duotone-default-base: var( --color-brandBeige );
	--duotone-default-foreground: var( --color-brandGrey );

	/* Default Image Treatment */
	--duotone-base:              var( --duotone-default-base );
	--duotone-bg-blend:          multiply;
	--duotone-blur:              0px;
	--duotone-fg-blend:          screen;
	--duotone-foreground:        var( --duotone-default-foreground );
	--duotone-opacity:           1;
	--duotone-spacing:           1%;
}

/* Should be applied to the direct parent of the image */
.c4aa-duotone {
	background-color:    var(--duotone-base);
	/* display:             flex;
	flex:                1 1 100%;
	height:              100%; */
	overflow:            hidden;
	padding:             var(--duotone-spacing);
	position:            relative;
	transition: all 250ms ease;
}

.c4aa-duotone img {
	filter:              grayscale(100%) contrast(1) blur(var(--duotone-blur));
	/* flex:                1 0 100%;
	height:              100%;
	max-width:           100%; */
	mix-blend-mode:      var(--duotone-bg-blend);
	object-fit:          cover;
	opacity:             var(--duotone-opacity);
	position:            relative;
	width:               100%;
	transition: all 250ms ease;
}

.c4aa-duotone::before {
	background-color:    var(--duotone-foreground);
	bottom:              0;
	content:             '';
	height:              100%;
	left:                0;
	mix-blend-mode:      var(--duotone-fg-blend);
	position:            absolute;
	right:               0;
	top:                 0;
	width:               100%;
	z-index:             1;
}

/* Remove Duotone on Hover */

.c4aa-duotone:hover {
	background-color: initial;
	opacity: 1;
	position: static;
}

.c4aa-duotone:hover img {
	filter: none;
	mix-blend-mode: normal;
	opacity: 1;
}

/* 
 * Duotone Themes
 *
 * The variables that change from the defaults are overridden here.
 * These must match 1 to 1 with ACF settings.
 * 
 * The first color in the class name is base, the second is the foreground.
 */

.red-and-black {
	--duotone-base:              var( --color-brandRed );
	--duotone-foreground:        #000000;
	--duotone-bg-blend:          multiply;
	--duotone-fg-blend:          screen;
	--duotone-opacity:           0.96;
	--duotone-spacing:           20px;
}

.beige-and-black {
	--duotone-base:              var( --color-brandBeige );
	--duotone-foreground:        #000000;
	--duotone-bg-blend:          multiply;
	--duotone-fg-blend:          lighten;
	--duotone-opacity:           1;
}

.beige-and-red {
	--duotone-base:              var( --color-brandBeige );
	--duotone-foreground:        var( --color-brandRed );
	--duotone-bg-blend:          multiply;
	--duotone-fg-blend:          screen;
	--duotone-opacity:           1;
}

.beige-and-grey {
	--duotone-base:              var( --color-brandBeige );
	--duotone-foreground:        var( --color-brandGrey );
	--duotone-bg-blend:          multiply;
	--duotone-fg-blend:          screen;
	--duotone-opacity:           1;
}

.beige-and-grey-vintage {
	--duotone-base:              var( --color-brandBeige );
	--duotone-foreground:        #000000;
	--duotone-bg-blend:          color-burn;
	--duotone-fg-blend:          screen;
	--duotone-opacity:           0.69;
}
