/* Roboto Slab */

@font-face {
    font-family: 'roboto';
    src: url('RobotoSlab-Light-webfont.woff2') format('woff2'),
         url('RobotoSlab-Light-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;
	font-display: swap;
}


@font-face {
    font-family: 'roboto';
	src: url('RobotoSlab-Regular-webfont.woff2') format('woff2'),
         url('RobotoSlab-Regular-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
	font-display: swap;
}


@font-face {
    font-family: 'roboto';
    src: url('RobotoSlab-Bold-webfont.woff2') format('woff2'),
         url('RobotoSlab-Bold-webfont.woff') format('woff');
    font-weight: 900;
    font-style: normal;
	font-display: swap;
}


/* Metropolis */

@font-face {
    font-family: 'metropolis';
    src: url('metropolis-extrabold-webfont.woff2') format('woff2'),
         url('metropolis-extrabold-webfont.woff') format('woff');
    font-weight: 900;
    font-style: normal;
	font-display: swap;
}


@font-face {
    font-family: 'metropolis';
    src: url('metropolis-extrabolditalic-webfont.woff2') format('woff2'),
         url('metropolis-extrabolditalic-webfont.woff') format('woff');
    font-weight: 900;
    font-style: italic;
	font-display: swap;
}


@font-face {
    font-family: 'metropolis';
    src: url('metropolis-semibold-webfont.woff2') format('woff2'),
         url('metropolis-semibold-webfont.woff') format('woff');
    font-weight: 700;
	font-style: normal;
	font-display: swap;
}


@font-face {
    font-family: 'metropolis';
    src: url('metropolis-semibolditalic-webfont.woff2') format('woff2'),
         url('metropolis-semibolditalic-webfont.woff') format('woff');
    font-weight: 700;
    font-style: italic;
	font-display: swap;
}


@font-face {
    font-family: 'metropolis';
    src: url('metropolis-regular-webfont.woff2') format('woff2'),
         url('metropolis-regular-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;
	font-display: swap;
}


@font-face {
    font-family: 'metropolis';
    src: url('metropolis-regularitalic-webfont.woff2') format('woff2'),
         url('metropolis-regularitalic-webfont.woff') format('woff');
    font-weight: 500;
    font-style: italic;
	font-display: swap;
}

