/*
 * Duotone Themes
 *
 * The variables that change from the defaults are overridden here.
 * These must match 1 to 1 with ACF settings.
 *
 * The first color in the class name is base, the second is the foreground.
 */

:root {
	/* Default Colors */
	--duotone-default-base: var(--color-brandWhite);
	--duotone-default-foreground: var(--color-brandBlack);

	/* Default Image Treatment */
	--duotone-base: var(--duotone-default-base);
	--duotone-bg-blend: multiply;
	--duotone-blur: 0px;
	--duotone-fg-blend: screen;
	--duotone-foreground: var(--duotone-default-foreground);
	--duotone-opacity: 1;
	--duotone-spacing: 1%;
	--duotone-grayscale: 100%;
	--duotone-contrast: 1;
}

*[class*='none'] {
	--duotone-base: initial;
	--duotone-foreground: initial;
	--duotone-bg-blend: initial;
	--duotone-fg-blend: initial;
	--duotone-opacity: initial;
	--duotone-spacing: initial;
	--duotone-grayscale: initial;
	--duotone-contrast: initial;
}

*[class*='red-and-black'] {
	--duotone-base: var(--color-brandRed);
	--duotone-foreground: var(--color-brandBlack);
	--duotone-bg-blend: multiply;
	--duotone-fg-blend: screen;
	--duotone-opacity: 0.96;
	--duotone-spacing: 20px;
	--duotone-grayscale: 100%;
	--duotone-contrast: 1;
}

*[class*='beige-and-black'] {
	--duotone-base: var(--color-brandBeige);
	--duotone-foreground: var(--color-brandBlack);
	--duotone-bg-blend: multiply;
	--duotone-fg-blend: lighten;
	--duotone-opacity: 1;
	--duotone-grayscale: 100%;
	--duotone-contrast: 1;
}

*[class*='white-and-black'] {
	--duotone-base: var(--color-brandWhite);
	--duotone-foreground: var(--color-brandBlack);
	--duotone-bg-blend: multiply;
	--duotone-fg-blend: screen;
	--duotone-opacity: 1;
	--duotone-grayscale: 100%;
	--duotone-contrast: 1;
}

*[class*='beige-and-red'] {
	--duotone-base: var(--color-brandBeige);
	--duotone-foreground: var(--color-brandRed);
	--duotone-bg-blend: multiply;
	--duotone-fg-blend: screen;
	--duotone-opacity: 1;
	--duotone-grayscale: 100%;
	--duotone-contrast: 1;
}

*[class*='white-and-red'] {
	--duotone-base: var(--color-brandWhite);
	--duotone-foreground: var(--color-brandRed);
	--duotone-bg-blend: multiply;
	--duotone-fg-blend: screen;
	--duotone-opacity: 1;
	--duotone-grayscale: 100%;
	--duotone-contrast: 1;
}

*[class*='beige-and-grey'] {
	--duotone-base: var(--color-brandBeige);
	--duotone-foreground: var(--color-brandGrey);
	--duotone-bg-blend: multiply;
	--duotone-fg-blend: screen;
	--duotone-opacity: 1;
	--duotone-grayscale: 100%;
	--duotone-contrast: 1;
}

*[class*='white-and-grey'] {
	--duotone-base: var(--color-brandWhite);
	--duotone-foreground: var(--color-brandGrey);
	--duotone-bg-blend: multiply;
	--duotone-fg-blend: screen;
	--duotone-opacity: 1;
	--duotone-grayscale: 100%;
	--duotone-contrast: 1;
}

*[class*='beige-and-blue'] {
	--duotone-base: var(--color-brandBeige);
	--duotone-foreground: var(--color-brandBlue);
	--duotone-bg-blend: multiply;
	--duotone-fg-blend: screen;
	--duotone-opacity: 1;
	--duotone-grayscale: 100%;
	--duotone-contrast: 1;
  }

*[class*='white-and-blue'] {
	--duotone-base: var(--color-brandWhite);
	--duotone-foreground: var(--color-brandBlue);
	--duotone-bg-blend: multiply;
	--duotone-fg-blend: screen;
	--duotone-opacity: 1;
	--duotone-grayscale: 100%;
	--duotone-contrast: 1;
  }

*[class*='blue-and-black'] {
	--duotone-base: var(--color-brandBlue);
	--duotone-foreground: var(--color-brandBlack);
	--duotone-bg-blend: multiply;
	--duotone-fg-blend: screen;
	--duotone-opacity: 1;
	--duotone-grayscale: 100%;
	--duotone-contrast: 1;
  }

*[class*='beige-and-green'] {
	--duotone-base: var(--color-brandBeige);
	--duotone-foreground: var(--color-brandGreen);
	--duotone-bg-blend: multiply;
	--duotone-fg-blend: screen;
	--duotone-opacity: 1;
	--duotone-grayscale: 100%;
	--duotone-contrast: 1;
  }

*[class*='white-and-green'] {
	--duotone-base: var(--color-brandWhite);
	--duotone-foreground: var(--color-brandGreen);
	--duotone-bg-blend: multiply;
	--duotone-fg-blend: screen;
	--duotone-opacity: 1;
	--duotone-grayscale: 100%;
	--duotone-contrast: 1;
  }

*[class*='green-and-black'] {
	--duotone-base: var(--color-brandGreen);
	--duotone-foreground: var(--color-brandBlack);
	--duotone-bg-blend: multiply;
	--duotone-fg-blend: screen;
	--duotone-opacity: 1;
	--duotone-grayscale: 100%;
	--duotone-contrast: 1;
  }

*[class*='beige-and-yellow'] {
	--duotone-base: var(--color-brandBeige);
	--duotone-foreground: var(--color-brandYellow);
	--duotone-bg-blend: multiply;
	--duotone-fg-blend: screen;
	--duotone-opacity: 1;
	--duotone-grayscale: 100%;
	--duotone-contrast: 1;
  }

*[class*='white-and-yellow'] {
	--duotone-base: var(--color-brandWhite);
	--duotone-foreground: var(--color-brandYellow);
	--duotone-bg-blend: multiply;
	--duotone-fg-blend: screen;
	--duotone-opacity: 1;
	--duotone-grayscale: 100%;
	--duotone-contrast: 1;
  }

*[class*='yellow-and-black'] {
	--duotone-base: var(--color-brandYellow);
	--duotone-foreground: var(--color-brandBlack);
	--duotone-bg-blend: multiply;
	--duotone-fg-blend: screen;
	--duotone-opacity: 1;
	--duotone-grayscale: 100%;
	--duotone-contrast: 1;
  }

*[class*='beige-and-purple'] {
	--duotone-base: var(--color-brandBeige);
	--duotone-foreground: var(--color-brandPurple);
	--duotone-bg-blend: multiply;
	--duotone-fg-blend: screen;
	--duotone-opacity: 1;
	--duotone-grayscale: 100%;
	--duotone-contrast: 1;
  }

*[class*='white-and-purple'] {
	--duotone-base: var(--color-brandWhite);
	--duotone-foreground: var(--color-brandPurple);
	--duotone-bg-blend: multiply;
	--duotone-fg-blend: screen;
	--duotone-opacity: 1;
	--duotone-grayscale: 100%;
	--duotone-contrast: 1;
  }

*[class*='purple-and-black'] {
	--duotone-base: var(--color-brandPurple);
	--duotone-foreground: var(--color-brandBlack);
	--duotone-bg-blend: multiply;
	--duotone-fg-blend: screen;
	--duotone-opacity: 1;
	--duotone-grayscale: 100%;
	--duotone-contrast: 1;
  }

*[class*='white-and-beige'] {
	--duotone-base: var(--color-brandWhite);
	--duotone-foreground: var(--color-brandBeige);
	--duotone-bg-blend: multiply;
	--duotone-fg-blend: screen;
	--duotone-opacity: 1;
	--duotone-grayscale: 100%;
	--duotone-contrast: 1;
  }