:root {
	/* Primary Brand Colors */
	--color-brandWhite: #fffef6; /* Fallback */
	--color-brandWhite: hsla(53.33, 100%, 98.24%, 1);

	--color-brandBlack: #292724; /* Fallback */
	--color-brandBlack: hsla(36, 6.49%, 15.1%, 1);

	--color-brandBeige: #f9f4d2; /* Fallback */
	--color-brandBeige: hsla(52.31, 76.47%, 90%, 1);

	--color-brandRed: #f5333f; /* Fallback */
	--color-brandRed: hsla(356.29, 90.65%, 58.04%, 1);

	--color-brandGrey: #7B736c; /* Fallback */
	--color-brandGrey: hsla(28, 6%, 42%, 0.9);

	/* Secondary Brand Colors */

	--color-brandBlue: #27aae1; /* Fallback */
	--color-brandBlue: hsla(197.74, 75.61%, 51.76%, 1);

	--color-brandGreen: #8fb73e; /* Fallback */
	--color-brandGreen: hsla(79.83, 49.39%, 48.04%, 1);

	--color-brandPurple: #a03c9b; /* Fallback */
	--color-brandPurple: hsla(303, 45.45%, 43.14%, 1);

	--color-brandYellow: #decb00; /* Fallback */
	--color-brandYellow: hsla(54.86, 100%, 43.53%, 1);

	

	/* Clip Path Varaibles */
	--rotate: -1.000;
	--topLeftX: 11;
	--topLeftY: 12;
	--topRightX: 19;
	--topRightY: 18;
	--bottomLeftX: 12;
	--bottomLeftY: 14;
	--bottomRightX: 11;
	--bottomRightY: 12;

	/* Typography */
	--font-sans: "Work Sans", Helvetica Neue, Helvetica, Arial, sans-serif;	
	--font-serif: "Zilla Slab", Courier Bold, Courier, Georgia, Times, Times New Roman, serif;
}

/*
 * Accessibility Labels
 *
 * Hide text from the screen while still providing label for screen reader
 *
 */

.c4aa-sr-only {
	position:absolute;
	left:-10000px;
	top:auto;
	width:1px;
	height:1px;
	overflow:hidden;
}