:root {
	/* Primary Brand Colors */
	/* Make sure these mirror palette and duotone colors in theme.json */
	--color-brandWhite: #fffef6; /* Fallback */
	--color-brandWhite: hsla(53, 100%, 98%, 1);

	--color-brandBlack: #292724; /* Fallback */
	--color-brandBlack: hsla(36, 6%, 15%, 1);

	--color-brandBeige: #f9f4d2; /* Fallback */
	--color-brandBeige: hsla(52, 76%, 90%, 1);

	--color-brandRed: #f5333f; /* Fallback */
	--color-brandRed: hsla(356, 91%, 58%, 1);

	--color-brandGrey: #7B736c; /* Fallback */
	--color-brandGrey: hsla(28, 6%, 45%, 1);

	/* Secondary Brand Colors */

	--color-brandBlue: #27aae1; /* Fallback */
	--color-brandBlue: hsla(198, 76%, 52%, 1);

	--color-brandGreen: #8fb73e; /* Fallback */
	--color-brandGreen: hsla(80, 49%, 48%, 1);

	--color-brandPurple: #a03c9b; /* Fallback */
	--color-brandPurple: hsla(303, 45%, 43%, 1);

	--color-brandYellow: #decb00; /* Fallback */
	--color-brandYellow: hsla(55, 100%, 44%, 1);

	

	/* Clip Path Varaibles */
	--rotate: -1.000;
	--topLeftX: 11;
	--topLeftY: 12;
	--topRightX: 19;
	--topRightY: 18;
	--bottomLeftX: 12;
	--bottomLeftY: 14;
	--bottomRightX: 11;
	--bottomRightY: 12;

	/* Typography */
	--font-sans: "Work Sans", Helvetica Neue, Helvetica, Arial, sans-serif;	
	--font-serif: "Zilla Slab", Courier Bold, Courier, Georgia, Times, Times New Roman, serif;
}

/*
 * Accessibility Helpers
 *
 * Hide text from the screen while still providing label for screen reader
 *
 */

.c4aa-sr-only {
	position:absolute;
	left:-10000px;
	top:auto;
	width:1px;
	height:1px;
	overflow:hidden;
}

/*
 * Reduce motion for those who prefer it - may get vertigo/nauseous
 */

@media screen and (prefers-reduced-motion: reduce) {  
	* {
	  /* Very short durations means JavaScript that relies on events still works */
	  animation-duration: 0.001ms !important;
	  animation-iteration-count: 1 !important;
	  transition-duration: 0.001ms !important;
	}
  }