
/* Smaller default font size */
html {
	font-size: 18px;
}

body,
button, 
input,
select,
optgroup,
textarea {
	line-height: 1.7;
	color: var( --color-brandBlack );
}

.site-content {
	background-color: var( --color-brandWhite);
}

body,
button, 
input, 
select, 
optgroup, 
textarea,
blockquote cite,
.entry .entry-content figcaption {
	font-family: var( --font-sans );
	font-weight: 400;
		
}

figure.wp-block-pullquote,
p strong,
ol strong,
ul strong,
.entry .entry-content figcaption,
table strong {
	font-family: var( --font-sans );
	font-weight: 700;
}

.site-branding,
.page-title {
	font-family: var ( --font-serif );
}

.site-branding .main-navigation ul li a {
	font-family: var( --font-sans );
	font-weight: 700;
	text-transform: uppercase;
}

// --------- //
//  HEADERS  //
// --------- //

h1, 
h2, 
h3,
h6,
.site-header.featured-image .entry-meta {
	font-family: var( --font-serif );
	font-weight: 700;
	letter-spacing: .14em;
	text-transform: uppercase;

	
}

h4, 
h5 {
	font-family: var( --font-sans );
	font-weight: 900;
	letter-spacing: .14em;
	text-transform: uppercase;
	line-height: 1.4;
}

h5,
h6 {
	font-size: 0.9em;
}

// PULL QUOTES
.entry .entry-content .wp-block-pullquote.is-style-solid-color p {
	font-size: 2em;
	font-weight: 400;
	font-style: italic;
	hyphens: manual;
}

// ------------ //
// END HEADERS  //
// ------------ //

// ------------ //
//    LINKS     //
// ------------ //

.entry .entry-content a:link, .entry .entry-content a,
.entry .entry-content h1 a:link, .entry .entry-content h1 a,
.entry .entry-content h2 a:link, .entry .entry-content h2 a, 
.entry .entry-content h3 a:link, .entry .entry-content h3 a, 
.entry .entry-content h4 a:link, .entry .entry-content h4 a, 
.entry .entry-content h5 a:link, .entry .entry-content h5 a, 
.entry .entry-content h6 a:link, .entry .entry-content h6 a {
	text-decoration-line: underline;
	text-decoration-style: dotted;
	text-decoration-thickness: 10%; // em values don't work as well here https://css-tricks.com/almanac/properties/t/text-decoration-thickness/#aa-percentage-and-the-cascade
	text-underline-offset: 0.2em; // must be set or will show up different on different browsers
	text-decoration-skip-ink: none;
	// font-weight: inherit;
}

.entry .entry-content a:link, .entry .entry-content a {
	font-weight: 700;
}

.entry .entry-content blockquote a:link, .entry .entry-content blockquote a {
	// keep font weight the same as surrounding text
	font-weight: inherit;
}

.entry .entry-content h1 a:hover, 
.entry .entry-content h2 a:hover, 
.entry .entry-content h3 a:hover, 
.entry .entry-content h4 a:hover, 
.entry .entry-content h5 a:hover, 
.entry .entry-content h6 a:hover,
.entry .entry-content a:hover { 
	text-decoration-style: solid;
}

// ------------ //
//  END LINKS   //
// ------------ //

@media only screen and (min-width: 768px) and (max-width: 1024px) {
	
	.entry {
		.entry-content {
			.wp-block-pullquote {
				&.about {
					blockquote {
						hyphens: none;
						font-size: 13px;
					}
				}
			}
		}
	}
}
