/* Smaller default font size */
// Note: This no longer works. 
// The fluid font size in theme.json overrides it and makes it 16px
// See: https://fullsiteediting.com/lessons/theme-json-font-size/
html {
    font-size: 18px;
}

body,
input,
select,
optgroup,
textarea {
    line-height: 1.7;
    color: var(--color-brandBlack);
}

.site-content {
    background-color: var(--color-brandWhite);
}

body,
input,
select,
optgroup,
textarea,
blockquote cite {
    font-family: var(--font-sans);
    font-weight: 400;

}

p strong,
ol strong,
ul strong,
table strong {
    font-weight: 600;
}

// override t19 for .wp-block-* elements
// more may need to be added to this in the future
.entry .entry-content {
    .wp-block-archives li > a,
    .wp-block-categories li > a,
    .wp-block-latest-posts li > a,
    .wp-block-latest-posts .wp-block-latest-posts__post-date {
        font-family: var(--font-sans);
    }
}

.site-branding,
.page-title {
    font-family: var(--font-serif);
}

.site-branding .main-navigation ul li a {
    font-family: var(--font-sans);
    text-transform: uppercase;
}

/**
*
* Main Menu / Branding Container
*
*/

/* style containers */
.featured-image .site-branding-container,
.site-header:not(.featured-image) {
    background-color: var(--color-brandWhite);
    z-index: 10;
}

.featured-image .site-branding-container,
.site-header {
    padding: 1rem;
}

.site-branding {
    display: flex;
    align-items: center;
}

/* prevent menu items from wrapping mid word */
.site-branding ul li {
    white-space: nowrap;
}

/* style the text-logo image */
.c4aa-text-logo {
    display: inline-block;
    background-size: cover;
    height: 0;
    width: 0;
    margin-right: 10px;
}

.site-title {
    margin: 0;
}

.site-featured-image .post-thumbnail img {
    max-width: 100%;
}

/* style text and icon logo hover */
.site-logo .custom-logo-link:hover,
.site-logo .custom-logo-link:active,
.site-logo .custom-logo-link:focus,
.site-header.featured-image .custom-logo-link:hover,
.site-header.featured-image .custom-logo-link:active,
.site-header.featured-image .custom-logo-link:focus,
.c4aa-text-logo:hover,
.c4aa-text-logo:active,
.c4aa-text-logo:hover:focus {
    box-shadow: none;
    opacity: 0.7;
}

/* style menu items text  */
.site-header.featured-image .main-navigation a,
.site-header.featured-image .main-navigation a + svg,
.site-header.featured-image .social-navigation a,
.site-header.featured-image .site-featured-image a,
.main-navigation .main-menu > li > a,
.main-navigation .main-menu > li .svg-icon {
    color: var(--color-brandBlack);
}

.site-header.featured-image .main-navigation a:hover,
.site-header.featured-image .main-navigation a:active,
.site-header.featured-image .main-navigation a + svg:hover,
.site-header.featured-image .main-navigation a + svg:active,
.site-header.featured-image .social-navigation a:hover,
.site-header.featured-image .social-navigation a:active,
.site-header.featured-image .site-featured-image a:hover .site-header.featured-image .site-featured-image a:active {
    color: var(--color-brandRed);
    opacity: 1;
}

.main-menu li {
    font-size: 1rem;
}


/* place navigation at bottom of container*/
#site-navigation {
    margin-right: auto;
}


@media(min-width: 768px) {
    .site-branding {
        margin: 0;
    }

    /* override parent theme logo positioning */
    .site-logo {
        position: static;
    }

    .entry .entry-content {
        margin: 0 10%;
        padding: 0;
        max-width: 90%;

        figure.alignfull img,
        figure.alignfull figcaption {
            margin: 0 0;
        }
    }

}

@media(min-width: 1260px) {
    .site-branding {
        min-height: 5rem;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        margin: 0 calc(10% + 60px);
    }

    .c4aa-text-logo {
        height: 44px;
        width: 210px;
    }

    /* place navigtation between logos and align vertically */
    #site-navigation {
        width: auto;

    }

    /* move logo to the right */
    .site-logo {
        display: none;
    }

    .entry .entry-content {
        // default t19 margin/padding
        max-width: 80%;
        margin: 0 10%;
        padding: 0 60px;
    }

}

/* Added to allow for longer menus #347 */
@media(min-width: 1100px) and (max-width: 1400px) {
    .site-branding {
      margin: 0 calc(5% + 60px)
    }
}


// Social Navigation

.site-header.featured-image .social-navigation svg,
.social-navigation svg {
    // filter drop shadow none
    filter: none;
    fill: var(--color-brandGrey);

    &:hover {
        fill: var(--color-brandRed);
    }

    &:active {
        fill: var(--color-brandWhite);
    }
}

.social-navigation ul.social-links-menu li a:hover,
.social-navigation ul.social-links-menu li a:active {
    color: var(--color-brandRed);
    opacity: 1;
}

/* Hide the menu item initially */
.social-navigation ul.social-links-menu li.menu-search-icon {
    visibility: hidden;
}

/* Show the menu item after the SVG is loaded */
.social-navigation ul.social-links-menu li.menu-search-icon.svg-loaded {
    visibility: visible;
}

/**
*
* CAPTIONS
*
*/


.entry .entry-content .wp-block-audio figcaption,
.entry .entry-content .wp-block-video figcaption,
.entry .entry-content .wp-block-gallery .blocks-gallery-image figcaption,
.entry .entry-content .wp-block-gallery .blocks-gallery-item figcaption,
.entry .entry-content .wp-block-image figcaption,
.entry .entry-content figcaption {
    font-family: var(--font-serif);
    font-style: italic;
    font-size: 0.8rem;
    padding: 0.25rem 0.5rem;
}

/**
*
* HEADERS
*
*/

h1,h2,h3,h4,h5,h6 {
    text-wrap: balance;
}

// Apply styles to headings

h1 {
    letter-spacing: 0.14em;
}

h1,
h2,
.entry .entry-content .wp-block-cover h2,
h3,
h6,
.site-header.featured-image .entry-meta {
    font-family: var(--font-serif);
    font-weight: 700;
    letter-spacing: 0.1em;
}

h4,
h5 {
    font-family: var(--font-sans);
    font-weight: 700;
    letter-spacing: 0.1em;
}

h3 {
    font-size: 1.6875em; // fallback
    font-size: clamp(1.5rem, 1.3594rem + 0.7031vw, 1.6875rem);
}

h4 {
    font-size: 1.4rem; // fallback
    font-size: clamp(1.2rem, 1.0500rem + 0.7500vw, 1.4rem);
}

h5,
h6 {
    font-size: 1.25rem;
}

// Apply text transform and alignfull styles
h1,
h2,
h3,
h4 {
    text-transform: uppercase;

    &.alignfull:not(.is-style-c4aa-clipPath-heading) {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    &.alignfull.is-style-c4aa-clipPath-heading {
        margin-left: 2rem;
        margin-right: 2rem;
    }
}

/**
* 
* LISTS 
* 
*/

.entry .entry-content ol.is-style-no-bullets,
.entry .entry-content ul.is-style-no-bullets {
  list-style: none;
}

.entry .entry-content ul:not([class*="font-size"]) {
    font-size: 1.05rem;
}

.entry .entry-content ol li,
.entry .entry-content ul li:not(.wp-social-link) {
    font-family: var(--font-serif);
    font-weight: 400;
    line-height: 125%; // when size of font is changed in the block, the rem is miscalculated
    padding-bottom: 1rem;
}

/*
*
* LINKS
*
*/

// Mixin for common link styles
@mixin common-link-styles {
    text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-thickness: 10%; // em values don't work as well here https://css-tricks.com/almanac/properties/t/text-decoration-thickness/#aa-percentage-and-the-cascade
    text-underline-offset: 0.2em; // must be set or will show up different on different browsers
    text-decoration-skip-ink: none;
}

// Mixin for hover styles
@mixin hover-link-styles {
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-thickness: 10%; // em values don't work as well here https://css-tricks.com/almanac/properties/t/text-decoration-thickness/#aa-percentage-and-the-cascade
    text-underline-offset: 0.2em; // must be set or will show up different on different browsers
    text-decoration-skip-ink: none;
}

.entry .entry-content {
    // Apply common link styles
    a:link,
    a,
    h1 a:link,
    h1 a,
    h2 a:link,
    h2 a,
    h3 a:link,
    h3 a,
    h4 a:link,
    h4 a,
    h5 a:link,
    h5 a,
    h6 a:link,
    h6 a {
        @include common-link-styles;
        font-weight: inherit;
    }

    // Apply hover styles
    a:hover,
    h1 a:hover,
    h2 a:hover,
    h3 a:hover,
    h4 a:hover,
    h5 a:hover,
    h6 a:hover {
        @include hover-link-styles;
    }

    // Blockquote link styles
    blockquote a:link,
    blockquote a {
        font-weight: inherit;
    }
}

#colophon .site-info a {
    text-decoration: none;
}

#colophon .site-info a:hover {
    @include common-link-styles;
}

/**
*
* BUTTONS
*
*/

/* Solid part of the button */
/* note: first line is excluded buttons from other forms, tinymce editor, formiddable forms, etc. */
button:not(:where(#simple-banner-close-button *, 
    #simple-banner-close-button, 
    .wp-editor-tools *, 
    .mce-container *, 
    .frm_upload_text *, 
    .frm_show_password_btn, 
    .lightbox-trigger, 
    .close-button, 
    .swiper-pagination-bullet)),
.button,
.entry .button,
.entry .entry-content .wp-element-button,
.entry .entry-content .wp-block-file .wp-block-file__button,
.entry .entry-content .wp-block-button .wp-block-button__link,
input[type="button"],
input[type="reset"],
input[type="submit"], /* catch old styles */
.entry .entry-content .wp-block-button:not(.is-style-squared) .wp-block-button__link,
.entry .entry-content .wp-block-button.is-style-outline .wp-block-button__link,
.entry .entry-content .wp-block-button.is-style-solid .wp-block-button__link {
    border-radius: 1rem;
    font-family: var(--font-serif);
    font-weight: 500;
    padding: 0.75rem 1rem;
    transition: rotate 50ms ease-out, transform 50ms ease-out, scale 50ms ease-out;
    transform: rotate(-2deg);
    border: none;

    &:hover {
        // rotate the sold part of the button on hover
        transform: rotate(-1deg);
        color: var(--color-brandWhite);
    }

    &:focus {
        // rotate the sold part of the button on hover
        transform: rotate(-1deg);
        color: var(--color-brandWhite);
    }

    &:active {
        // move the sold part of the button on click
        transform: scale(0.8);
    }

    &::before {
        // outline part of the button
        transition: all 50ms ease;
        content: '';
        // display:inline-block;
        position: absolute;
        top: 0;
        left: 2px;
        width: 100%;
        height: 100%;
        background-color: transparent;
        rotate: 1deg;
        border-radius: 1rem;
        // mix-blend-mode: darken;
        transform: rotate(1deg);
        width: 100%;
        height: 110%;
        border-style: solid;
        border-width: 2px;
    }
    &:not(.has-border-color)::before {
        border-color: var(--color-brandRed);
    }
    &.has-contrast-border-color::before {
        border-color: var(--color-brandBlack);
    }
    &.has-base-border-color::before {
        border-color: var(--color-brandWhite);
    }
    &.has-red-border-color::before {
        border-color: var(--color-brandRed);
    }
    &.has-paper-border-color::before {
        border-color: var(--color-brandBeige);
    }
    &.has-grey-border-color::before {
        border-color: var(--color-brandGrey);
    }
    &.has-blue-border-color::before {
        border-color: var(--color-brandBlue);
    }
    &.has-green-border-color::before {
        border-color: var(--color-brandGreen);
    }
    &.has-purple-border-color::before {
        border-color: var(--color-brandPurple);
    }
    &.has-yellow-border-color::before {
        border-color: var(--color-brandYellow);
    }
    
}

// rotate the outline on hover
button:hover::before,
.button:hover::before,
.entry .button:hover::before,
.entry .entry-content .wp-element-button:hover::before,
.entry .entry-content .wp-block-file .wp-block-file__button:hover::before,
.entry .entry-content .wp-block-button .wp-block-button__link:hover::before,
.entry .entry-content .wp-block-button .wp-block-button__link:hover:not(.has-background):hover::before,
.entry .entry-content .wp-block-button.is-style-outline .wp-block-button__link:hover::before,
.entry .entry-content .wp-block-button.is-style-solid .wp-block-button__link:hover::before,
input[type="button"]:hover::before,
input[type="reset"]:hover::before,
input[type="submit"]:hover::before {
    transform: rotate(-1deg) translateX(-2px) translateY(-5%);
}

// rotate the outline on focus
button:focus::before,
.button:focus::before,
.entry .button:focus::before,
.entry .entry-content .wp-element-button:focus::before,
.entry .entry-content .wp-block-file .wp-block-file__button:focus::before,
.entry .entry-content .wp-block-button .wp-block-button__link:focus::before,
.entry .entry-content .wp-block-button .wp-block-button__link:focus:not(.has-background):focus::before,
.entry .entry-content .wp-block-button.is-style-outline .wp-block-button__link:focus::before,
.entry .entry-content .wp-block-button.is-style-solid .wp-block-button__link:focus::before,
input[type="button"]:focus::before,
input[type="reset"]:focus::before,
input[type="submit"]:focus::before {
    transform: rotate(-1deg) translateX(-2px) translateY(-5%);
}

// flash to white on active
button:active::before,
.button:active::before,
.entry .button:active::before,
.entry .entry-content .wp-element-button:active::before,
.entry .entry-content .wp-block-file .wp-block-file__button:active::before,
.entry .entry-content .wp-block-button .wp-block-button__link:active::before,
.entry .entry-content .wp-block-button .wp-block-button__link:active:not(.has-background):active::before,
.entry .entry-content .wp-block-button.is-style-outline .wp-block-button__link:active::before,
.entry .entry-content .wp-block-button.is-style-solid .wp-block-button__link:active::before,
input[type="button"]:active::before,
input[type="reset"]:active::before,
input[type="submit"]:active::before {
    transform: rotate(-1deg) translateX(-2px) translateY(-5%);
    border: var(--color-brandWhite);
}


// if no text color is specified, use Beige
.entry .entry-content .wp-block-button .wp-block-button__link:not(.has-text-color),
.entry .entry-content .wp-element-button {
    color: var(--color-brandBeige);
}

// if no background is specified, use Blue
input[type="button"].button,
input[type="reset"].button,
input[type="submit"].button,
input[type="submit"],
.entry .entry-content .wp-block-button .wp-block-button__link:not(.has-background),
.entry .entry-content .wp-element-button,
.frm_button_submit {
    background-color: var(--color-brandBlue);
}

// form buttons have a border - animation doesn't work, but moving on.
input[type="button"].button,
input[type="reset"].button,
input[type="submit"].button,
input[type="submit"] {
    border: 2px solid var(--color-brandRed);
}

// in T19 and formiddiable unstyled buttons hover/focus black. This is a fix for those
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
.entry .entry-content .wp-element-button .wp-block-button__link:not(.has-background):hover,
.entry .entry-content .wp-element-button .wp-block-button__link:not(.has-background):focus,
.entry .entry-content .wp-block-button .wp-block-button__link:not(.has-background):hover,
.entry .entry-content .wp-block-button .wp-block-button__link:not(.has-background):focus,
.frm_button_submit:hover,
.frm_button_submit:focus {
    background-color: var(--color-brandBlue);
}

// High Emphasis Buttons

/* outline of the high emphasis button */
.entry .entry-content .is-style-high-emphasis-button .wp-block-button__link:not(.has-border-color)::before {
    border: 2px solid var(--color-brandBlue) !important;
}

/* default background color of the high emphasis button */
.entry .entry-content .is-style-high-emphasis-button .wp-block-button__link:not(.has-background) {
    background-color: var(--color-brandRed) !important;
}

/* default text color of the high emphasis button */
.entry .entry-content .is-style-high-emphasis-button .wp-block-button__link:not(.has-text-color) {
    color: var(--color-brandWhite) !important;
}

/* increase font weight of high emphasis button */
.entry .entry-content .is-style-high-emphasis-button .wp-block-button__link {
    font-weight: 700;
}

// Low Emphasis Buttons

/* outline of the low emphasis button */
.entry .entry-content .is-style-low-emphasis-button .wp-block-button__link:not(.has-border-color)::before {
    border: 2px solid var(--color-brandBlue) !important;
}

/* default background color of the low emphasis button */
.entry .entry-content .is-style-low-emphasis-button .wp-block-button__link:not(.has-background) {
    background-color: var(--color-brandBeige) !important;
}

/* default text color of the low emphasis button */
.entry .entry-content .is-style-low-emphasis-button .wp-block-button__link:not(.has-text-color) {
    color: var(--color-brandBlue) !important;
}

/* old styles */
.entry .entry-content .wp-block-button.is-style-outline .wp-block-button__link:not(.has-text-color),
.entry .entry-content .wp-block-button.is-style-outline .wp-block-button__link:focus:not(.has-text-color),
.entry .entry-content .wp-block-button.is-style-outline .wp-block-button__link:active:not(.has-text-color),
.entry .entry-content .wp-block-button.is-style-outline .wp-block-button__link:hover:not(.has-text-color) .entry .entry-content .wp-block-button.is-style-solid .wp-block-button__link:not(.has-text-color),
.entry .entry-content .wp-block-button.is-style-solid .wp-block-button__link:focus:not(.has-text-color),
.entry .entry-content .wp-block-button.is-style-solid .wp-block-button__link:active:not(.has-text-color),
.entry .entry-content .wp-block-button.is-style-solid .wp-block-button__link:hover:not(.has-text-color) {
    color: var(--color-brandBeige);
    border-color: var(--color-brandBlue);
}


/**
*
* Pullquotes & Blockquotes
*
*/

/* FIRST block quotes under featured image */
.entry .entry-content > figure:first-child.wp-block-pullquote {
    margin-top: 0;

    & blockquote {
        margin-top: calc(4 * 1rem);
        margin-bottom: calc(4.33 * 1rem);
        padding: 0;
    }

    & blockquote p {
        font-family: var(--font-sans);
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        font-size: var(--wp--preset--font-size--large);
        font-weight: 400;
    }
}

.entry .entry-content .wp-block-pullquote[class*="font-family"] cite {
    font-family: unset;
}

/* Pullquotes */

/* basic styles */

.entry .entry-content .wp-block-pullquote {
    background-color: var(--color-brandRed);
    color: var(--color-brandWhite);

    & blockquote p {
        // font-style: normal; // this removes the italics. But I think the italics work.
        hyphens: manual;

        @media screen and(max-width: 768) {
            font-size: var(--wp--preset--font-size--large);
        }
    }

    & cite {
        font: 400 1.25rem var(--font-serif);
    }
}

// Basic style adjustments for mobile
@media only screen and(max-width: 768px) {

    .entry .entry-content .wp-block-pullquote blockquote p {
        font-size: var(--wp--preset--font-size--large);
    }
}


/* default colors */

.entry .entry-content .wp-block-pullquote:not(.has-text-color),
.entry .entry-content .wp-block-pullquote:not(.has-text-color) a,
.entry .entry-content .wp-block-pullquote:not(.has-text-color) cite {
    color: var(--color-brandWhite);
}

.entry .entry-content .wp-block-pullquote:not(.has-background) {
    background-color: var(--color-brandRed);
}

.entry .entry-content .wp-block-pullquote.has-text-color cite {
    color: inherit;
}


/* Styles for pullquote block */
.entry .entry-content .wp-block-pullquote {

    & blockquote {
        padding: 1rem;
        margin: 0 1rem;
    }

    &.alignright blockquote {
        padding: 2rem 2.5rem 1.5rem;
    }

    &.alignleft blockquote {
        padding: 2rem 2.5rem 1.5rem;
    }

    &.alignfull {
        @media only screen and(min-width: 768px) {
            padding-left: calc(10% + 58px + (2 * 1rem));
            padding-right: calc(10% + 58px + (2 * 1rem));
        }
    }

    &.has-small-font-size blockquote p {
        font-size: calc(1.2 * var(--wp--preset--font-size--small));

        @media only screen and(max-width: 768px) {
            font-size: calc(1.1 * var(--wp--preset--font-size--normal));

        }
    }

    &.has-normal-font-size blockquote p {
        font-size: var(--wp--preset--font-size--normal);

        @media only screen and(max-width: 768px) {
            font-size: var(--wp--preset--font-size--large);

        }
    }

    &.has-large-font-size blockquote p {
        font-size: var(--wp--preset--font-size--large);

        @media only screen and(max-width: 768px) {
            font-size: var(--wp--preset--font-size--x-large);

        }
    }

    &.has-x-large-font-size blockquote p {
        font-size: var(--wp--preset--font-size--x-large);

        @media only screen and(max-width: 768px) {
            font-size: var(--wp--preset--font-size--x-large);

        }
    }

}

/* Friendlier mobile styling for floating pullquotes in post */
.entry .entry-content .wp-block-pullquote.alignright,
.entry .entry-content .wp-block-pullquote.alignleft {

    @media only screen and(max-width: 768px) {
        float: none;
        max-width: 100%;
        margin: 0;
    }
}

/* Blockquotes */

blockquote.wp-block-quote {
    background-color: var(--color-brandRed);
    color: var(--color-brandWhite);
    font-family: var(--font-serif);
    font-weight: 700;
    margin: -2.25em;
    border: none;
    transform: rotate(-0.5deg);
    mix-blend-mode: multiply;
}

.entry .entry-content .wp-block-quote,
.entry .entry-content .wp-block-quote:not(.is-large),
.entry .entry-content .wp-block-quote:not(.is-style-large) {
    padding: 3em;
    font-size: 1.125rem;
    font-weight: 500;

    & p {
        line-height: 1.2;
    }

    & cite {
        font-size: calc(1rem /(1.25 * 1));
    }
}

blockquote cite {
    line-height: 1.1em;
}

/**
* 
* FORMS
* 
*/

form label,
.frm_primary_label {
    font-family: var(--font-serif);
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 1.3;
}

/* text based inputs */

input,
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
textarea {
    background-color: var(--color-brandBeige);
    border: 2px solid #aaa;
    font-size: 1rem;
}

input[type="text"], input[type="email"] {
    max-width: 100%;
    width: 100%;
    }
    

textarea {
    margin-top: 0.5rem;
}
/* field sets */

fieldset {
    border: none;
}

/* contactform7 messages */

.wpcf7-not-valid-tip {
    font-family: var(--font-serif);
    color: var(--color-brandRed);
    font-style: italic;
    font-weight: 600;
}

.wpcf7 form.invalid .wpcf7-response-output,
.wpcf7 form.unaccepted .wpcf7-response-output,
.wpcf7 form.payment-required .wpcf7-response-output {
    font-family: var(--font-serif);
    border: none;
    background-color: var(--color-brandYellow);
    font-weight: 600;
}

/**
*
* COLUMNS
*
* Properly aligns collapsed, nested sets of columns 
* when using the Multi Breakpoint Columns plugin    
*/

@media only screen and(min-width: 768px) {
    .entry .entry-content .wp-block-columns .wp-block-column:not(:first-child) {
        margin-left: 0;
    }
}


/**
*
* FOOTER 
*
*/
.entry .entry-footer {
    width: var(--wp--style--global--content-size);
    max-width: 100%;
    padding: 1rem;
    margin: 3rem auto 0rem auto;
    background-color: var(--color-brandBeige);
}


.cc-logo {
    width: 0.66rem;
    margin-right: 0.1rem;
}

.site-info > * {
    color: var(--color-brandRed);
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 0.14em;
    font-family: var(--font-sans);
}

.c4aa-magic-hand {
    color: var(--color-brandRed);
    max-width: 80px;

    @media screen and (max-width: 768px) {
       margin-left: calc(50vw - 60px);
      }
      
}

@media screen and (max-width: 768px) {
    .footer-contact, .footer-menu-column {
        text-align: center !important;
    }
}

nav.post-navigation {
    display: none;
}

/*
 * 
 * SEPARATOR BLOCK
 *
 */

.entry .entry-content .wp-block-separator,
.entry .entry-content hr,
.entry .entry-content hr::before {
    opacity: 100%;
}

.entry .entry-content .wp-block-separator,
.entry .entry-content hr {
    color: var(--color-brandGrey);
}


// makes the 3-dot gutenburg style more visible
.entry .entry-content hr::before {
    font-weight: 900;
    font-size: 3rem;
    letter-spacing: 1.5rem;
    padding-left: 1.5rem;
}

// makes "Default" gutenberg selected separator centered and width 90%
.entry .entry-content hr,
.entry .entry-content .wp-block-separator,
.entry .entry-content .wp-block-separator:not(.is-style-wide):not(.is-style-dots) hr { // including for legacy
    width: 90%;
    max-width: calc( var( --wp--style--global--content-size ) * .9 );
}

.entry .entry-content .wp-block-separator.alignwide {
    width: 90%;
    max-width: calc( var( --wp--style--global--wide-size ) * .9 );
}

.entry .entry-content .wp-block-separator.aligncenter {
    width: 90%;
    max-width: calc( var( --wp--style--global--content-size ) * .9 );
    margin: auto;
}


/**
*
* IMAGE BLOCK 
*
*/

/* Block Image and Paragraph Clearfix */
// .wp-block-image + p::after {
// content: "";
// clear: both;
// display: table;
// }

/* turn off duotone on hover */
/* except for anything with the u-duotone-sticky class */
.wp-block-image img:hover,
figure[class*="wp-duotone"]:not(.u-duotone-sticky) img:hover {
    -webkit-filter: unset;
    filter: unset;
}

.wp-block-post-featured-image a img {
    transition: transform 50ms ease-in;
}

.wp-block-post-featured-image a img:hover {
    transform: translateY(-0.5rem);
    transition: transform 50ms ease-out;
}

/* CAPTIONS */

.wp-block-image figcaption.wp-element-caption,
figure[class*="embed"].wp-block-embed figcaption,
.wp-block-video figcaption.wp-element-caption {
    font-size: 1rem !important;
    font-weight: 500;
    background: var(--color-brandBeige);
    color: var(--color-brandGrey);
    width: fit-content;
    margin: auto !important;
    top: -.8rem;
    opacity: .95;
    padding-left: 2.5rem !important;
    padding-right: 3rem !important;
  }

.wp-block-gallery.has-nested-images figure.wp-block-image figcaption {
    font-size: .9rem !important;
    background: var(--color-brandBeige);
    color: var(--color-brandGrey);
    padding: .5rem 1rem .5rem 1rem !important;
    height: fit-content;
    opacity: .9;
    top: 90%;
    width: fit-content;
    text-align: left;
  }

/**
*
* MISC
*
*/

/* Lightbox Overlay */

.jp-carousel-close-hint svg {
    background: var(--color-brandBlue);

    &:hover {
        background: var(--color-brandRed);
    }
}

.jp-carousel-close-hint svg rect {
    fill: var(--color-brandRed);

    &:hover {
        fill: var(--color-brandWhite);
    }
}

.jp-carousel-photo-caption {
    font-family: var(--font-serif);
    color: var(--color-brandBlack);
}

/* DETAILS BLOCK */

details.wp-block-details:first-child, :not(.wp-block-details) + .wp-block-details {
    border-top: solid 2px var(--color-brandRed);
}

.entry .entry-content details.wp-block-details { 
    // Entire block
    transition: all 0.2s ease-in;
    background-color: var(--color-brandWhite);
    mix-blend-mode: multiply;
    margin: 0 auto;
    border-bottom: solid 2px var(--color-brandRed);

    & summary {
        // summary at top
        font-family: var(--font-serif);
        font-weight: 400;
        line-height: 1.5;
        padding: 1rem;
        margin: 0;
        list-style-position: outside;
        
        // @include common-link-styles;

        &:hover {
            @include hover-link-styles;
        }

        & > * {
            margin: .7rem 1rem;
            margin-block-start: 1.5rem;
        }

        &::before {
            content: url("data:image/svg+xml,%3Csvg viewBox='0 0 32 32' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:sketch='http://www.bohemiancoding.com/sketch/ns' fill='%23F5333F'%3E%3Cg id='SVGRepo_bgCarrier' stroke-width='0'%3E%3C/g%3E%3Cg id='SVGRepo_tracerCarrier' stroke-linecap='round' stroke-linejoin='round'%3E%3C/g%3E%3Cg id='SVGRepo_iconCarrier'%3E%3Ctitle%3Eplus-circle%3C/title%3E%3Cdesc%3ECreated with Sketch Beta.%3C/desc%3E%3Cdefs%3E%3C/defs%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' sketch:type='MSPage'%3E%3Cg id='Icon-Set' sketch:type='MSLayerGroup' transform='translate(-464.000000, -1087.000000)' fill='%23F5333F'%3E%3Cpath d='M480,1117 C472.268,1117 466,1110.73 466,1103 C466,1095.27 472.268,1089 480,1089 C487.732,1089 494,1095.27 494,1103 C494,1110.73 487.732,1117 480,1117 L480,1117 Z M480,1087 C471.163,1087 464,1094.16 464,1103 C464,1111.84 471.163,1119 480,1119 C488.837,1119 496,1111.84 496,1103 C496,1094.16 488.837,1087 480,1087 L480,1087 Z M486,1102 L481,1102 L481,1097 C481,1096.45 480.553,1096 480,1096 C479.447,1096 479,1096.45 479,1097 L479,1102 L474,1102 C473.447,1102 473,1102.45 473,1103 C473,1103.55 473.447,1104 474,1104 L479,1104 L479,1109 C479,1109.55 479.447,1110 480,1110 C480.553,1110 481,1109.55 481,1109 L481,1104 L486,1104 C486.553,1104 487,1103.55 487,1103 C487,1102.45 486.553,1102 486,1102 L486,1102 Z' id='plus-circle' sketch:type='MSShapeGroup'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
            display: inline-block;
            width: 1.2rem;
            margin-right: 1rem;
            vertical-align: middle;
            color: var(--color-brandRed);
        }
    }

    & summary::marker {
        content: '';
    }

    &[open] summary::before {
        content: url("data:image/svg+xml,%3Csvg viewBox='0 0 32 32' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:sketch='http://www.bohemiancoding.com/sketch/ns' fill='%23F5333F'%3E%3Cg id='SVGRepo_bgCarrier' stroke-width='0'%3E%3C/g%3E%3Cg id='SVGRepo_tracerCarrier' stroke-linecap='round' stroke-linejoin='round'%3E%3C/g%3E%3Cg id='SVGRepo_iconCarrier'%3E%3Ctitle%3Eminus-circle%3C/title%3E%3Cdesc%3ECreated with Sketch Beta.%3C/desc%3E%3Cdefs%3E%3C/defs%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' sketch:type='MSPage'%3E%3Cg id='Icon-Set' sketch:type='MSLayerGroup' transform='translate(-516.000000, -1087.000000)' fill='%23F5333F'%3E%3Cpath d='M532,1117 C524.268,1117 518,1110.73 518,1103 C518,1095.27 524.268,1089 532,1089 C539.732,1089 546,1095.27 546,1103 C546,1110.73 539.732,1117 532,1117 L532,1117 Z M532,1087 C523.163,1087 516,1094.16 516,1103 C516,1111.84 523.163,1119 532,1119 C540.837,1119 548,1111.84 548,1103 C548,1094.16 540.837,1087 532,1087 L532,1087 Z M538,1102 L526,1102 C525.447,1102 525,1102.45 525,1103 C525,1103.55 525.447,1104 526,1104 L538,1104 C538.553,1104 539,1103.55 539,1103 C539,1102.45 538.553,1102 538,1102 L538,1102 Z' id='minus-circle' sketch:type='MSShapeGroup'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E"); 
        color: var(--color-brandRed);
    }

    & > * {
        margin-left: 3rem;
        margin-right: 3rem;
    }

    & > *:last-child {
        padding-bottom: 3rem;
    }
}
