/* Large chunk copied from theme. */
.author-description .author-link,
.comment-metadata,
.comment-reply-link,
.comments-title,
.comment-author .fn,
.discussion-meta-info,
.entry-meta,
.entry-footer,
.main-navigation,
.no-comments,
.not-found .page-title,
.error-404 .page-title,
.post-navigation .post-title,
.page-links,
.page-description,
.pagination .nav-links,
.sticky-post,
.site-title,
.site-info,
#cancel-comment-reply-link {
	font-family: inherit;
}

.archive .page-header .page-description,
.archive .page-header .page-title {
	display: inline-block;
}

.archive .page-header, .search .page-header, .error404 .page-header {
	margin-bottom: 0;
}


/* prevent words from breaking in columns */
.wp-block-column h4 {
	word-break: normal;
}

/* de-hyphenate large pullquotes and header */
.wp-block-pullquote.alignwide *, .wp-block-pullquote.alignfull *, header h1.entry-title {
     hyphens: manual;
     -webkit-hyphens: none;
}


/* Block Image and Paragraph Clearfix */
.wp-block-image + p::after {
	content: "";
	clear: both;
	display: table;
}


/* Allow image blocks to actually be full width */

.entry .entry-content .wp-block-image {
	max-width: 100vw;
}

.entry .entry-content .wp-block-image.alignfull img {
	width: 100%;
}


/* Lists in Blocks */

.entry-content ul li, .entry-content ol li {
	margin: 0 0 .6em 1em;
}

/*************/
/* Home Page */
/*************/

/* Remove H1 from home */

body.home .entry-header {
	position:absolute;
	left: -10000px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
}


/* Remove margins from homepage video block */
.home .entry-content .wp-block-cover:first-child {
	margin-top: 0;
	margin-bottom: 0;
}

