/* Large chunk copied from theme. */
.author-description .author-link,
.comment-metadata,
.comment-reply-link,
.comments-title,
.comment-author .fn,
.discussion-meta-info,
.entry-meta,
.entry-footer,
.main-navigation,
.no-comments,
.not-found .page-title,
.error-404 .page-title,
.post-navigation .post-title,
.page-links,
.page-description,
.pagination .nav-links,
.sticky-post,
.site-title,
.site-info,
#cancel-comment-reply-link {
	font-family: inherit;
}

.archive .page-header .page-description,
.archive .page-header .page-title {
	display: inline-block;
}

.archive .page-header, .search .page-header, .error404 .page-header {
	margin-bottom: 0;
}

/* Override main color */

.site-header.featured-image .site-featured-image::before, .site-header.featured-image .site-featured-image::after, .entry .post-thumbnail::after, .main-navigation .sub-menu, .sticky-post, .entry .entry-content .wp-block-button .wp-block-button__link:not(.has-background), .entry .entry-content > .has-primary-background-color, .entry .entry-content > [class^="wp-block-"].has-primary-background-color, .entry .entry-content > [class^="wp-block-"] .has-primary-background-color, .entry .entry-content > [class^="wp-block-"].is-style-solid-color, .entry .entry-content > [class^="wp-block-"].is-style-solid-color.has-primary-background-color,
.entry .entry-title::before {
	background-color: var( --color-brandRed );
}

a, 
a:hover, 
a:active, 
a:visited, 
#colophon .site-info a:hover, 
.main-navigation .main-menu > li > a:hover, 
.main-navigation .main-menu > li > a:hover + svg, 
.post-navigation .nav-links a:hover, 
.post-navigation .nav-links a:hover .post-title, 
.author-bio .author-description .author-link:hover, 
.entry .entry-content > .has-secondary-color, 
.entry .entry-content > [class^="wp-block-"] .has-secondary-color, 
.entry .entry-content > [class^="wp-block-"].is-style-solid-color blockquote.has-secondary-color, 
.entry .entry-content > [class^="wp-block-"].is-style-solid-color blockquote.has-secondary-color p, 
.entry .entry-footer a:hover, 
.comment .comment-author .fn a:hover, 
.comment-reply-link:hover, 
.comment-navigation .nav-previous a:hover, 
.comment-navigation .nav-next a:hover, 
#cancel-comment-reply-link:hover, .widget a:hover {
	color: var( --color-brandRed );
}

h1 a, h1 a:hover, h1 a:active, h1 a:visited, 
h2 a, h2 a:hover, h2 a:active, h2 a:visited, 
h3 a, h3 a:hover, h3 a:active, h3 a:visited {
	color: var( --color-brandBlack );
}

h1.is-style-c4aa-clipPath-heading a, h1.is-style-c4aa-clipPath-heading a:hover, h1.is-style-c4aa-clipPath-heading a:active, h1.is-style-c4aa-clipPath-heading a:visited, 
h2.is-style-c4aa-clipPath-heading a, h2.is-style-c4aa-clipPath-heading a:hover, h2.is-style-c4aa-clipPath-heading a:active, h2.is-style-c4aa-clipPath-heading a:visited, 
h3.is-style-c4aa-clipPath-heading a, h3.is-style-c4aa-clipPath-heading a:hover, h3.is-style-c4aa-clipPath-heading a:active, h3.is-style-c4aa-clipPath-heading a:visited {
	color: var( --color-brandWhite );
}

.featured-image .site-branding-container {
	background-color: var( --color-brandBlack );
	padding-top: 2rem;
	padding-bottom: 2rem;
	padding-left: 1rem;
	padding-right: 1rem;
}

.site-footer .widget-title {
	color: var( --color-brandWhite )
}

/* Headers */

header.featured-image h1.entry-title {
	margin-left: .5em;
	margin-right: .5em;
	font-size: 2rem; // fallback
	// @see https://css-tricks.com/linearly-scale-font-size-with-css-clamp-based-on-the-viewport/
	font-size: clamp(1.5rem, calc( -0.2647rem + 7.8431vw ), 3.5rem);
}

h1:before,
h2:before, .entry .entry-title:before {
	content: none;
}

.entry .entry-content > h2 {
	margin-left: -1.5rem;
	// margin-top: calc( 5vw + 30px );
	// margin-bottom: calc( 3vw + 30px );
}


@media only screen and (min-width: 768px) {
	.entry .entry-content > h2 {
		margin-left: -1rem;
	}

	.entry .entry-content > h3 {

	}
}

/* prevent words from breaking in columns */
.wp-block-column h4 {
	word-break: normal;
}

/* Remove H1 from home */

body.home .entry-header {
	position:absolute;
	left: -10000px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
}

/* Featured Image */

.site-header.featured-image {
	margin-bottom: 0;
	text-shadow: initial;
	padding-top: 0;
}

.site-header.featured-image .site-featured-image .entry-header .entry-title::before {
	height: 0;
}

.site-header.featured-image {
	min-height: 80vh;
	padding: 0;
}

.featured-image .site-description {
	color: var(--color-brandWhite);
}

// Remove margins from homepage video block
.home .entry-content .wp-block-cover:first-child {
	margin-top: 0;
	margin-bottom: 0;
}

/* Image Filter Setup */

.site-header.featured-image .site-featured-image .entry-header {
	position: relative;
	z-index: 9;
	font-size: calc( 1.5vw + 20px );
	text-transform: uppercase;
	text-align: center;
}

.site-header.featured-image .site-branding-container::after, .site-header.featured-image .site-featured-image::before, .site-header.featured-image .site-featured-image::after, .site-header.featured-image::after {
	all: unset;
}

.site-header.featured-image .site-branding .site-title, .site-header.featured-image .main-navigation a::after, .site-header.featured-image .main-navigation .main-menu > li.menu-item-has-children::after, .site-header.featured-image .main-navigation li, .site-header.featured-image .social-navigation li {
	color: var( --color-brandRed );
}

/* squares circular logo in header */
.site-logo .custom-logo-link {
	border-radius: 0%;
}

/* de-hyphenate large pullquotes and header */
.wp-block-pullquote.alignwide *, .wp-block-pullquote.alignfull *, header h1.entry-title {
     -ms-hyphens: manual;
         hyphens: manual;
     -webkit-hyphens: none;
}

/* remove background from logo in header */
.site-header.featured-image .custom-logo-link {
	background: none;
}

/* remove margin under featured image (so we can put the first block right under) */
.site-header.featured-image {
	margin-bottom: 0rem;
}

/* Post Meta Data */
.site-header.featured-image .site-featured-image .entry-header {
	margin-left: 0;
	margin-right: 0;
}

.site-header.featured-image  {
	padding-bottom: 0;
}

.site-header.featured-image .entry-title {
	padding-bottom: 3rem;
}

.site-header.featured-image .entry-meta {
	background-color: var( --duotone-foreground );
	color: var( --color-brandBeige);
	font-size: 0.75rem;
	font-weight: 500;
	margin-top: auto;
	padding: 0.75rem;
	width: 100%;
}

.entry .entry-footer {
	color: var( --color-brandBlack);
}

/* Removes icons from entry-meta - keeping them for now */
/* .site-header.featured-image .site-featured-image .entry-header .entry-meta .svg-icon {
	display: none;
}*/

/*******************/
/*** Pullquotes & Blockquotes */
/*******************/

/* remove space between block quotes and featured image */
.entry-content .wp-block-pullquote:first-child {
	margin-top: 0;
}

/* Pullquotes */

.entry .entry-content .wp-block-pullquote.is-style-solid-color {
	background-color: var(--color-brandRed);
	
	& p {
		color: var(--color-brandWhite);
	}
}

/* Extra padding to full width pullquote block */
.entry .entry-content .wp-block-pullquote.alignfull {
	@media only screen and (min-width: 768px){
  	padding-left: calc(10% + 58px + (2 * 1rem));
  	padding-right: calc(10% + 58px + (2 * 1rem));
	}
}

/* Friendlier mobile styling for floating pullquotes in post */
.entry .entry-content .wp-block-pullquote.alignright,
.entry .entry-content .wp-block-pullquote.alignleft {

	@media screen and ( max-width: 767px ) {
		float: none;
		max-width: 100%;
		padding: 1rem;
		margin: 0;
	}
}

/* Blockquotes */

blockquote.wp-block-quote {
	background-color: var( --color-brandRed );
	color: var( --color-brandWhite );
	font-family: var( --font-serif );
	font-weight: 700;
	margin: -2.25em;
	border: none;
	transform: rotate(-.5deg);
	mix-blend-mode: multiply;
}

.entry .entry-content .wp-block-quote,
.entry .entry-content .wp-block-quote:not(.is-large),
.entry .entry-content .wp-block-quote:not(.is-style-large) {
	padding: 3em;
	font-size: 1.125rem;
	font-weight: 500;
	
		& p {
			line-height: 1.2;
		}

		& cite {
			font-size: calc(1rem / (1.25 * 1));
		}
}

.entry .entry-content .wp-block-pullquote cite {
	font-weight: 400;
	font-size: 1.2rem;
	font-family: var( --font-serif );
}

/* Properly aligns collapsed, nested sets of columns */
/* when using the Multi Breakpoint Columns plugin    */
@media only screen and (min-width: 768px) {
	.entry .entry-content .wp-block-columns .wp-block-column:not(:first-child) {
	  margin-left: 0px;
	}
  }

/***************/
/*** Buttons ***/
/***************/

button,
.button,
.entry .button,
.entry .entry-content .wp-block-file .wp-block-file__button,
.entry .entry-content .wp-block-button .wp-block-button__link,
.entry .entry-content .wp-block-button .wp-block-button__link:not(.has-background),
input[type="button"],
input[type="reset"],
input[type="submit"] {
	// background-color: var( --color-brandBlue );
	border-radius: 1rem;
	// color: var(--color-brandWhite);
	// font-family: var(--font-serif);
	font-size: initial; // this is so theme.json can set the size
	padding: .7rem;
	transition: all 150ms ease-in-out;
	transform: rotate(-2deg);
	border: none;
	
}

button:hover,
.button:hover,
.wp-block-file__button:hover,
.entry-content .wp-block-button .wp-block-button__link:not(.has-background):hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	background-color: var( --color-brandRed );
	box-shadow: none;
	-webkit-filter: brightness(87%);
	        filter: brightness(87%);
}

.entry .entry-content .wp-block-button.is-style-outline .wp-block-button__link:not(.has-text-color),
.entry .entry-content .wp-block-button.is-style-outline .wp-block-button__link:focus:not(.has-text-color),
.entry .entry-content .wp-block-button.is-style-outline .wp-block-button__link:active:not(.has-text-color),
.entry .entry-content .wp-block-button.is-style-outline .wp-block-button__link:hover:not(.has-text-color) {
	color: var( --color-brandBeige );
    border-color: var( --color-brandBlue );
}

/***************/
/*** Forms ***/
/***************/

/* text based inputs */

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
textarea {
	background-color:  var( --color-brandWhite );
	border-color: var( --color-brandGrey );
	max-width: 100%;
}

/* field sets */

fieldset {
	border: none;
}

/**************/
/*** Footer ***/
/**************/

.cc-logo {
	width: .66rem;
	margin-right: .1rem;
}

.site-info > * {
	color: var( --color-brandRed );
	text-transform: uppercase;
	font-weight: 400;
	letter-spacing: .14em;
	font-family: var( --font-sans );
}

.c4aa-magic-hand {
	color: var( --color-brandRed );
	max-width: 80px;
}

/********************/
/* Latests Posts on Homepage */
/********************/

.entry .entry-content .wp-block-latest-posts.is-grid li {
	border-top: none;
	padding-top: 0;
}

.entry .entry-content .wp-block-latest-posts li {
	line-height: 1.2;
	padding-bottom: 0.75rem;
	font-family: var( --font-sans );
}

.entry .entry-content .wp-block-latest-posts .wp-block-latest-posts__post-date {
	border-bottom: 1px solid var( --color-brandGrey );
	padding-bottom: .5em;
	padding-top: .5em;
	font-family: Georgia, serif;

	.wf-active & {
		font-family: 'roboto', Georgia, serif;
	}
}

.entry .entry-content .wp-block-latest-posts li > a {
	font-size: calc( 18px * 1.125 );
	text-transform: uppercase;
	font-family: var( --font-sans );
	font-weight: 400;
	letter-spacing: .14em;
}


/* Remove top and bottom margins on alignfull */
.entry .entry-content .alignfull {
	margin-top: 0;
	margin-bottom: 0;
}


/* Accordion Buttons */

.c-accordion__title--button {
	font-style: italic;
	text-decoration: underline;
}

.c-accordion__title--button::after {
	content: "▼";
	color: var( --color-brandRed );
	right: auto;
	margin-left: 1em;
}

.c-accordion__title::after {
	font-weight: 600 !important;
	padding: 0 .1em .1em .25em;
	color: var(--color-brandWhite) !important;
	background: var(--color-brandRed) !important;
}

.is-open .c-accordion__title::after {
	content: "▲";
}

/*********************/
/** Separator Block **/
/*********************/


.entry .entry-content .wp-block-separator, .entry .entry-content hr, .entry .entry-content hr::before {
	opacity: 100%;
}

.entry .entry-content .wp-block-separator, .entry .entry-content hr {
color: var(--color-brandGrey);
}


// makes the 3-dot gutenburg style more visible
.entry .entry-content hr::before {
	font-weight: 900;
	font-size: 3rem;
	letter-spacing: 1.5rem;
  	padding-left: 1.5rem;
}

// Override media queries from theme
// makes "Wide Line" gutenberg selected separator full width
.entry .entry-content .wp-block-separator.alignfull.is-style-wide {
	width: 100vw;
	position: relative;
	right: calc(50vw - 50%);
	max-width: unset;
}

// makes "Default" gutenberg selected separator centered and width 50%
.wp-block-separator:not(.is-style-wide):not(.is-style-dots).is-style-default {
	width: 90%;
	max-width: unset;
	margin-left: auto;
	margin-right: auto;
}


/*****************/
/** Image Block **/
/*****************/

/* Block Image and Paragraph Clearfix */
.wp-block-image + p::after {
	content: "";
	clear: both;
	display: table;
}

/* turn off duotone on hover */
.wp-block-image img:hover, figure[class*="wp-duotone"] img:hover {
	-webkit-filter: unset;
	        filter: unset;
		}

/*****************/
// ? Updates: October 19, 2023
/*****************/

.main-navigation{
margin-top: 0; // reset from parent theme
margin-left: 2rem;
	@media only screen and (max-width: 768px) {
		margin-left: 0;
		padding-bottom: 2rem;
	}
}

#menu-2019menu {
	.main-menu{
		@media only screen and (max-width: 768px) {
			width: 100%;
		}
	}
	li.menu-item{
		padding-left: 0;
		padding-right: 0;
		@media only screen and (max-width: 768px) {
			width: 100%;
			display: block;
			padding: 0;
		}
		a{
			// @extend .is-style-c4aa-clipPath-heading;
			padding: 0.2rem .5rem;
			font-weight: 700;
			margin: 0;
			background-color: var(--color-brandRed);
			color: var(--color-brandWhite);
			// clip-path: polygon(calc(var(--topLeftX) * 1px) calc(var(--topLeftY) * 1px), calc(100% - var(--topRightX) * 1px) calc(var(--topRightY) * 1px), calc(100% - var(--bottomRightX) * 1px) calc(100% - var(--bottomRightY) * 1px), calc(var(--bottomLeftX) * 1px) calc(100% - var(--bottomLeftY) * 1px));
			clip-path: polygon(0 4%, 100% 0, 100% 100%, 0 94%);
			@media only screen and (max-width: 768px) {
				clip-path: none;
				background-color: var(--color-brandBlack);
				display: block;
				width: 100%;
			}
		}

		&:nth-child(odd) a{
			clip-path: polygon(0 0, 100% 4%, 100% 96%, 0 100%);
			@media only screen and (max-width: 768px) {
				clip-path: none
			}
		}
		&:nth-child(3) a{
			clip-path: polygon(0 5%, 100% 0%, 100% 100%, 0 100%);
			@media only screen and (max-width: 768px) {
				clip-path: none
			}
		}
	}
	.sub-menu{
		display: none;
		// background-color: white;
		left: 0;
		li{
			a{
				text-transform: capitalize;
				font-weight: normal;
				font-size: 0.9rem;
			}
		}
		@media only screen and (max-width: 768px) {
			display: block;
			visibility: visible;
			opacity: 1;
			position: relative;
			background-color: var( --color-brandBlack );
		}
	}
	.menu-item-has-children{
		li{
			opacity: 0;

			// Show the submenu by default on mobile:
			@media only screen and (max-width: 768px) {
				visibility: visible;
				opacity: 1;
				font-size: 0.9rem;
				text-transform: capitalize;

			}
		}
		@media only screen and (max-width: 768px) {
			display: block;
			position: relative;
		}
	}
	.menu-item-has-children:hover{
		a{
			background-color: var( --color-brandBlack );
			color: var( --color-brandWhite );
		}
		.sub-menu{
			display: block;
			background-color: var(--color-brandBlack);
			width: 100%;
			// left: 0;
			@media only screen and (max-width: 768px) {
				width: auto;
				min-width: 0;
				position: relative;
				visibility: visible;
				opacity: 1;
			}
			li{
				visibility: visible;
				opacity: 1;
				a{
					max-width: 100%;
					display: block;
					text-transform: capitalize;
					color: var(--color-brandWhite);
				}
			}
		}
	}
}

// Caret arrow next to expandable links:
#menu-2019menu .submenu-expand{
	display: none;
	transform: translateY(4px) rotate(180deg);
	box-shadow: none;
}


// Hide the logo icon on mobile:
@media only screen and (max-width: 768px) {
	.site-logo{
		display: none;
	}
}

// ? START Hamburger icon
.menu-toggle {
    display: none; /* Hide the hamburger icon by default on larger screens */
    cursor: pointer;
}
.bar {
		display: block;
		width: 30px;
		height: 5px;
		background-color: var(--color-brandRed);
		margin: 4px 0;
		transition: 0.4s;
}
.menu-toggle .bar:nth-child(1) {
    transform: rotate(1.5deg);
}
.menu-toggle.active .bar:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 8px);
}
.menu-toggle .bar:nth-child(2) {
    transform: rotate(-1.5deg);
}
.menu-toggle.active .bar:nth-child(2) {
    opacity: 0;
}
.menu-toggle .bar:nth-child(1) {
    transform: rotate(1.5deg);
}
.menu-toggle.active .bar:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -8px);
}

@media screen and (max-width: 768px) {
    .menu-toggle {
        display: block; /* Show the hamburger icon on smaller screens */
    }

    #site-navigation {
        display: none; /* Hide the main navigation menu by default on smaller screens */
    }

    .menu-toggle.active + .main-navigation {
        display: block; /* Show the main navigation menu when the icon is clicked */
    }
}
.mobile-header{
	// margin: 0 -1rem; // Undo the padding on the parent element so we can add a background colour.
	padding: 1rem;
	display: flex;
	align-items: center;
	&.active{
		background-color: #222;
	}
}
// ? End Hamburger icon

.logo-c4aa-mobile{
display: none;
}
@media screen and (max-width: 768px) {
	.logo-c4aa-mobile{
		width: 85%;
	}
	.logo-c4aa-mobile.logo-c4aa-mobile--red{
		display: none;
		&.active{
			display: block;
		}
	}
	.logo-c4aa-mobile.logo-c4aa-mobile--white{
			display: none;
		&.active{
			mix-blend-mode: screen;
			display: block;
		}
	}
}

#masthead.site-header{
	@media screen and (max-width: 768px) {
		padding: 0;
	}
}
#masthead .site-branding-container{
	@media screen and (max-width: 768px) {
		padding: 0;
	}
}
.site-header.active,
.site-header.active .site-branding-container{
	@media screen and (max-width: 768px) {
		background-color: var(--color-brandBlack) !important;
	}
}

// Jetpack Carousel/Lightbox

.jp-carousel-light.jp-carousel-overlay {
	background: var(--color-brandWhite);
}

.wp-lightbox-overlay .scrim {
	background-color: var(--color-brandWhite);
}
// Simple Banner fixes

.simple-banner-text a:link { text-decoration: underline !important;}
.simple-banner-text a:visited { text-decoration: underline !important;}
.simple-banner-text a:hover {text-decoration: none !important;}

