/* Large chunk copied from theme. */
.author-description .author-link,
.comment-metadata,
.comment-reply-link,
.comments-title,
.comment-author .fn,
.discussion-meta-info,
.entry-meta,
.entry-footer,
.main-navigation,
.no-comments,
.not-found .page-title,
.error-404 .page-title,
.post-navigation .post-title,
.page-links,
.page-description,
.pagination .nav-links,
.sticky-post,
.site-title,
.site-info,
#cancel-comment-reply-link {
	font-family: inherit;
}

.archive .page-header .page-description,
.archive .page-header .page-title {
	display: inline-block;
}

.archive .page-header, .search .page-header, .error404 .page-header {
	margin-bottom: 0;
}

/* Override main color */

.site-header.featured-image .site-featured-image::before, .site-header.featured-image .site-featured-image::after, .entry .post-thumbnail::after, .main-navigation .sub-menu, .sticky-post, .entry .entry-content .wp-block-button .wp-block-button__link:not(.has-background), .entry .entry-content > .has-primary-background-color, .entry .entry-content > [class^="wp-block-"].has-primary-background-color, .entry .entry-content > [class^="wp-block-"] .has-primary-background-color, .entry .entry-content > [class^="wp-block-"].is-style-solid-color, .entry .entry-content > [class^="wp-block-"].is-style-solid-color.has-primary-background-color,
.entry .entry-title::before,
.entry .entry-content .wp-block-separator, .entry .entry-content hr {
	background-color: var( --color-brandRed );
}

// Poop
.entry .entry-content .wp-block-pullquote.is-style-solid-color {
	background-color: var(--color-brandRed);
}

a, a:hover, a:active, a:visited, #colophon .site-info a:hover, .main-navigation .main-menu > li > a:hover, .main-navigation .main-menu > li > a:hover + svg, .post-navigation .nav-links a:hover, .post-navigation .nav-links a:hover .post-title, .author-bio .author-description .author-link:hover, .entry .entry-content > .has-secondary-color, .entry .entry-content > [class^="wp-block-"] .has-secondary-color, .entry .entry-content > [class^="wp-block-"].is-style-solid-color blockquote.has-secondary-color, .entry .entry-content > [class^="wp-block-"].is-style-solid-color blockquote.has-secondary-color p, .entry .entry-footer a:hover, .comment .comment-author .fn a:hover, .comment-reply-link:hover, .comment-navigation .nav-previous a:hover, .comment-navigation .nav-next a:hover, #cancel-comment-reply-link:hover, .widget a:hover {
	color: var( --color-brandRed );
}

.entry .entry-title a:hover {
	color: var( --color-brandWhite );
	text-decoration: underline;
}

.main-navigation .sub-menu > li > a:hover::after, .main-navigation .sub-menu > li > a:focus::after, .main-navigation .sub-menu > li > .menu-item-link-return:hover::after, .main-navigation .sub-menu > li > .menu-item-link-return:focus::after {
	background-color: #555;
}

.featured-image .site-branding-container {
	background-color: var( --color-brandBlack );
	padding-top: 2rem;
	padding-bottom: 2rem;
	padding-left: 1rem;
	padding-right: 1rem;
}

.site-content {
	background-color: var( --color-brandBeige);
}


/*************/
/* Home Page */
/*************/

/* Remove H1 from home */

body.home .entry-header {
	position:absolute;
	left: -10000px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
}

/* Remove margins from homepage video block */

.home .entry-content .wp-block-cover:first-child {
	margin-top: 0;
	margin-bottom: 0;
}

/*******/




/* Block Image and Paragraph Clearfix */
.wp-block-image + p::after {
	content: "";
	clear: both;
	display: table;
}



/* Allow image blocks to actually be full width */

.entry .entry-content .wp-block-image {
	max-width: 100vw;
}

.entry .entry-content .wp-block-image.alignfull img {
	width: 100%;
}





