/***********/
/* Archive */
/***********/

@media( min-width: 768px ) {

	@supports ( display: grid ) {
		.c4aa-excerpt-grid .entry {
			display: grid;
			grid-template-columns: 2fr 1fr;
			grid-template-rows: minmax(100px, min-content) 1fr;
			grid-gap: 1rem;
	
			max-width: 1100px;
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 1rem;
			padding-top: 1rem;
			padding-left: 1rem;
			padding-right: 1rem;
		}

		.c4aa-excerpt-grid .entry .entry-header,
		.c4aa-excerpt-grid .entry .entry-footer,
		.c4aa-excerpt-grid .entry .entry-content,
		.c4aa-excerpt-grid .entry .post-thumbnail {
			margin: 0;
			padding: 0;
		}

		.c4aa-excerpt-grid .entry-header {
			display: flex;
			flex-direction: column;
			justify-content: end;
		}

		.c4aa-excerpt-grid .entry-header {
			grid-column: 1;
		}

		.c4aa-excerpt-grid .entry .entry-content {
			grid-column: 1;
			max-width: none;
		}

		.c4aa-excerpt-grid .entry .post-thumbnail {
			grid-row: 1 / -1;
			grid-column: 2;
		}

		.c4aa-excerpt-grid .entry .post-thumbnail .post-thumbnail-inner {
			display: flex;
			height: 100%;
		}

		.c4aa-excerpt-grid .entry .entry-footer {
			grid-column: 1 / -1;
			max-width: none;
		}
	}

}

/***************/
/* Form Fields */
/***************/

/* text based inputs */

input[type="text"], 
input[type="email"], 
input[type="url"], 
input[type="password"], 
input[type="search"], 
input[type="number"], 
input[type="tel"], 
input[type="date"], 
input[type="month"], 
input[type="week"], 
input[type="time"], 
input[type="datetime"], 
input[type="datetime-local"], 
textarea {
	background-color:  var( --color-brandWhite );
	border-color: var( --color-brandGrey );
	max-width: 100%;
}

/* field sets */

fieldset {
	border: none;
}

form.give-form legend,
form[id*="give-form"] legend,
legend:not(.give-hidden) {
	color: var( --color-brandBeige );
	background-color: var( --color-brandBlack );
	font-weight: bold;
	margin-left: -2rem;
	text-transform: uppercase;
}

/* radio buttons */

input[type="radio"] {
	height: 0;
	opacity: 0;
	width: 0;
}

input[type="radio"] + label {
	margin-top: -1rem;
}

input[type="radio"] + label::before {
	content: ' ';
	background-color: transparent;
	border: 2px solid var( --color-brandBlack );
	border-radius: 1000px;
	display: inline-block;
	height: 1rem;
	width: 1rem;
	margin-right: 0.5rem;
}

input[type="radio"]:checked + label::before {
	background-color: var( --color-brandWhite );
	border: 6px solid var( --color-brandRed );
}


/****************/
/* Donate Form */
/***************/

form[id*="give-form"] #give-final-total-wrap .give-donation-total-label {
	background-color: var(--color-brandGrey);
	color: white;
}

form[id*="give-form"] .give-donation-amount .give-currency-symbol {
	background-color: var(--color-brandBlack);
	color: white;
}

form[id*="give-form"] .give-cs-mini-dropdown-icon::before {
	border-color: white transparent transparent;
}

form[id*="give-form"] legend,
form.give-form legend {
	background-color: var(--color-brandBlack);
}

form[id*="give-form"] #give-donation-level-radio-list > li {
	display: inline-flex;
}

.give-btn,
.give-btn:hover {
	background-color: var(--color-brandRed);
}

.give-modal form[id*="give-form"] .give-payment-mode-label {
	padding-top: 2rem;
}

.give-progress-bar {
	background: var( --color-brandWhite );
}


.mfp-content form.give-form legend, form[id*="give-form"] legend, legend:not(.give-hidden) {
	margin-left: -1rem;
}
#mc_embed_signup_scroll p:first-of-type {
	font-weight: bold;
	font-size: 2rem;
}


/*********************/
/* Formiddable Forms */
/*********************/

.frm_required {
    color: var(--color-brandRed);
}

.frm_form_field {
    margin: 1em 0;
}

.frm_form_field input {
    width: 100%;
}


/*******************/
/* Default Buttons */
/*******************/

button, 
.button, 
.entry .button, 
.entry .entry-content .wp-block-file .wp-block-file__button,
.entry .entry-content .wp-block-button .wp-block-button__link,
.entry .entry-content .wp-block-button .wp-block-button__link:not(.has-background),
input[type="button"], 
input[type="reset"], 
input[type="submit"] {
	background-color: var( --color-brandRed );
	border-radius: 0;
	box-shadow: 5px 5px 0px var( --color-brandGrey );
		-webkit-box-shadow: 5px 5px 0px 0px var( --color-brandGrey );
		-moz-box-shadow: 5px 5px 0px 0px var( --color-brandGrey );
	color: var(--color-brandWhite);
	font-family: Georgia, serif;
	padding: .7rem;
	transition: all 150ms ease-in-out;

	.wf-active & {
		font-family: 'roboto', Georgia, serif;
	}
}

button.main-menu-more-toggle {
	box-shadow: none;
}

button:hover,
.button:hover, 
.wp-block-file__button:hover,
.entry-content .wp-block-button .wp-block-button__link:not(.has-background):hover,
input[type="button"]:hover, 
input[type="reset"]:hover, 
input[type="submit"]:hover {
	background-color: var( --color-brandRed );
	box-shadow: none;
	filter: brightness(87%);
}

.entry .entry-content .wp-block-button.is-style-outline .wp-block-button__link:not(.has-text-color), 
.entry .entry-content .wp-block-button.is-style-outline .wp-block-button__link:focus:not(.has-text-color), 
.entry .entry-content .wp-block-button.is-style-outline .wp-block-button__link:active:not(.has-text-color),
.entry .entry-content .wp-block-button.is-style-outline .wp-block-button__link:hover:not(.has-text-color) {
	color: var( --color-brandRed );
    border-color: var( --color-brandRed );
}



/*********************/
/* Accordion Buttons */
/*********************/

.c-accordion__title--button {
	font-style: italic;
	text-decoration: underline;
}

.c-accordion__title--button::after {
	content: "▼";
	color: var( --color-brandRed );
	right: auto;
	margin-left: 1em;
}

.is-open .c-accordion__title::after {
    content: "▲";
    }


/***************/
/* Blockquotes */
/***************/

blockquote.wp-block-quote {
	background-color: var( --color-brandRed );
	color: var( --color-brandBeige );
	font-family: Georgia, serif;
	font-weight: 900;
	margin: -2.25em;
	border: none;
	transform: rotate(-.5deg);
	mix-blend-mode: multiply;

	.wf-active & {
		font-family: 'roboto', Georgia, serif;
	}
}

.entry .entry-content .wp-block-quote,
.entry .entry-content .wp-block-quote:not(.is-large), 
.entry .entry-content .wp-block-quote:not(.is-style-large) {
	padding: 3em;
}

.entry .entry-content .wp-block-quote p {
	font-style: italic;
}

blockquote.wp-block-quote.is-style-large {
	color: var( --color-brandWhite );
}

blockquote.wp-block-quote cite {
	color: var( --color-brandWhite );
	font-weight: 700;
}

blockquote a, blockquote a:hover, blockquote a:active, blockquote a:visited {
	color: var( --color-brandWhite );
}


/********************/
/* Latests Posts    */
/********************/

.entry .entry-content .wp-block-latest-posts.is-grid li {
	border-top: none;
	padding-top: 0;
}

.entry .entry-content .wp-block-latest-posts li {
	color: var( --color-brandBlack );
	font-family: Georgia, serif;
	font-size: 1em;
	line-height: 1.2;
	padding-bottom: 0.75rem;

	.wf-active & {
		font-family: 'roboto', Georgia, serif;
	}
}

.entry .entry-content .wp-block-latest-posts li,
.wp-block-latest-posts__post-date  {
	color: var( --color-brandBlack );
}

.wp-block-latest-posts__post-date {
	border-bottom: 1px solid var( --color-brandGrey );
	padding-bottom: .5em;
	padding-top: .5em;
}

.entry .entry-content .wp-block-latest-posts li > a {
	font-size: calc( 18px * 1.125 );
	text-transform: uppercase;
	font-family: 'metropolis', sans-serif;
	font-weight: 900;
	letter-spacing: .14em;
}

.wp-block-latest-posts__post-excerpt {
	padding-top: .5em;
	font-weight: 400;
}

.wp-block-latest-posts__post-excerpt a {
	display: block;
	padding-top: .5em;
	text-transform: capitalize;
}




