/* Page Titles */

.search .page-header .page-title,
.error404 .page-header .page-title,
.archive .page-header .page-title {
    font-family: var(--font-serif);
    color: var(--color-brandGrey) !important;
    font-weight: 300;
    font-size: 2rem;
    letter-spacing: 0.14em;
    text-transform: uppercase;
}

.archive .page-header .page-description,
.search .page-header .page-description,
.error404 .page-header .page-description {
    font-family: var(--font-sans);
    font-weight: 400;
    font-size: 2rem;
    color: var(--color-brandBlack);
}

// People Pages

// Hide meta (author, date, etc.) on single people pages
.single-people .entry-header .entry-meta {
    display: none;
}

// select the paragraph tags within any class that starts with people
// this is for the people-post-type and the details like title, email, etc.
.entry-content [class^="person-"] p {
    margin-top: 0;
}

article.type-people .entry-content .wp-block-advanced-columns-column__inner figure {
    mix-blend-mode: multiply;
    margin: -.5rem 0px !important; // override's t19 specific selector

        & img {
        border: 1px solid transparent; // force anti-aliasing in firefox
        }
}

// IMAGES

/* images in advanced columns */
/* fixes images extending beyond the width of a column */
@media only screen and(min-width: 768px) {
    .entry .entry-content .wp-block-image:not(.alignwide):not(.alignfull) > img,
    .entry .entry-content .wp-block-image:not(.alignwide):not(.alignfull) > a > img,
    .entry .entry-content .wp-block-image:not(.alignwide):not(.alignfull) > img + figcaption,
    .entry .entry-content .wp-block-image:not(.alignwide):not(.alignfull) > a + figcaption {
        max-width: 100%;
    }
}


/**
 *
 * ARCHIVE PAGE
 *
 */

@media(min-width: 768px) {

    @supports(display: grid) {
        .c4aa-excerpt-grid .entry {
            display: grid;
            grid-template-columns: 2fr 1fr;
            grid-template-rows: minmax(100px, min-content) 1fr;
            grid-gap: 1rem;

            max-width: 1100px;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 1rem;
            padding-top: 1rem;
            padding-left: 1rem;
            padding-right: 1rem;
        }

        .c4aa-excerpt-grid .entry .entry-header,
        .c4aa-excerpt-grid .entry .entry-content,
        .c4aa-excerpt-grid .entry .post-thumbnail {
            margin: 0;
            padding: 0;
        }

        .c4aa-excerpt-grid .entry-header {
            display: flex;
            flex-direction: column;
            justify-content: end;
        }

        .c4aa-excerpt-grid .entry-header {
            grid-column: 1;
        }

        .c4aa-excerpt-grid .entry .entry-content {
            grid-column: 1;
            max-width: none;
        }

        .c4aa-excerpt-grid .entry .post-thumbnail {
            grid-row: 1 / -1;
            grid-column: 2;
        }

        .c4aa-excerpt-grid .entry .post-thumbnail .post-thumbnail-inner {
            display: flex;
            height: 100%;
        }

        .c4aa-excerpt-grid .entry .entry-footer {
            grid-column: 1 / -1;
            max-width: none;
        }
    }

}

/* Query Loop Block */
/* break columns down -1 on tablet size screens */

@media screen and (min-width: 600px) and (max-width: 1024px) {

    ul.columns-2,
    ul.wp-block-latest-posts.columns2 {
        grid-template-columns: repeat(1, minmax(0, 1fr)) !important;
    }

    ul.columns-3,
    ul.wp-block-latest-posts.columns3 {
        grid-template-columns: repeat(2, minmax(0, 1fr)) !important;
    }

    ul.columns-4,
    ul.wp-block-latest-posts.columns4 {
        grid-template-columns: repeat(2, minmax(0, 1fr)) !important;
    }
}

/*
 * Jetpack Related Posts
 */

 .entry #jp-relatedposts {
    width: 1100px;
    max-width: 1100px;
    border-top: 2px dotted var(--color-brandGrey);
    margin: 5rem auto 1rem auto;
  padding-top: .5rem;
}

.entry #jp-relatedposts h3.jp-relatedposts-headline::before {
    display: none;
}

.entry #jp-relatedposts h3.jp-relatedposts-headline,
.entry #jp-relatedposts .jp-relatedposts-items-visual h4.jp-relatedposts-post-title {
    font-family: var(--font-serif);
    color: var(--color-brandBlack);
}

.entry #jp-relatedposts .jp-relatedposts-items-visual h4.jp-relatedposts-post-title a {
    text-decoration: 2px underline dotted;
    font-weight: 500;

    &:hover {
        text-decoration: 2px underline solid;
    }
}

.entry #jp-relatedposts .jp-relatedposts-items-visual h4.jp-relatedposts-post-title a:hover {
    font-weight: 100px !important;
}

.entry #jp-relatedposts .jp-relatedposts-items .jp-relatedposts-post .jp-relatedposts-post-context {
    font-family: var(--font-sans);
}

#jp-relatedposts .jp-relatedposts-items-visual .jp-relatedposts-post img.jp-relatedposts-post-img {
  filter: grayscale(1);
  mix-blend-mode: multiply;
}


/* 
 * Block Color Palette Colors
 *
 * Note: the namespace for each color is `caa` instead of `c4aa` because Gutenberg
 * adds a hypen in front of the 4 in CSS classes, and it is cleaner to omit it.
 */

/* Beige */

.entry .entry-content *[class*='has-'].has-caa-beige-background-color {
    background-color: var(--color-brandBeige);
}

.entry .entry-content *[class*='has-'].has-caa-beige-color {
    color: var(--color-brandBeige);
}

/* Black */

.entry .entry-content *[class*='has-'].has-caa-black-background-color {
    background-color: var(--color-brandBlack);
}

.entry .entry-content *[class*='has-'].has-caa-black-color {
    color: var(--color-brandBlack);
}

/* Blue */

.entry .entry-content *[class*='has-'].has-caa-blue-background-color {
    background-color: var(--color-brandBlue);
}

.entry .entry-content *[class*='has-'].has-caa-blue-color {
    color: var(--color-brandBlue);
}

/* Grey */

.has-caa-grey-background-color {
    background-color: var(--color-brandGrey);
}

.entry .entry-content *[class*='has-'].has-caa-grey-color {
    color: var(--color-brandGrey);
}

/* Red */

.entry .entry-content *[class*='has-'].has-caa-red-background-color {
    background-color: var(--color-brandRed);
}

.entry .entry-content *[class*='has-'].has-caa-red-color {
    color: var(--color-brandRed);
}

/* White */

.entry .entry-content *[class*='has-'].has-caa-white-background-color {
    background-color: var(--color-brandWhite);
}

.entry .entry-content *[class*='has-'].has-caa-white-color {
    color: var(--color-brandWhite);
}

/* Yellow */

.entry .entry-content *[class*='has-'].has-caa-yellow-background-color {
    background-color: var(--color-brandYellow);
}

.entry .entry-content *[class*='has-'].has-caa-yellow-color {
    color: var(--color-brandYellow);
}

/* Donate Page */

// Strip out the header & footer to keep it simple

@media screen and (min-width: 768px) {
    .page-id-12750 #site-navigation,
    .page-id-12750 .social-navigation,
    .page-id-12750 .entry-title
    {
        display: none;
    }
}

.page-id-12750 .footer-menu-column, .page-id-12750 .footer-contact {
    visibility: hidden;
}

.page-id-12750 .digital-payment-methods {
    width: 360px;
    margin: 0px auto 1rem
}

// Styles for the Formidable Donate Form 

#frm_field_2359_container {
    .frm_opt_container {
      position: relative;
      
      div.frm_radio {
        label {
          background: var(--color-brandBlack);
          color: var(--color-brandWhite);
          font: 500 1.3rem var(--font-sans);
          
          &:has(input:checked) {
            background: var(--color-brandBlue) !important;
          }
        }
        
        div.frm_label_button_container {
          padding: 1rem;
        }
        
        // Checked state
        input[type="radio"]:checked + div {
          background: var(--color-brandBlue) !important;
        }
      }
      
      // Red button specific styles
      #frm_radio_2359-3 {
        label:not(:has(input:checked)) {
          background: var(--color-brandRed);
        }
      }
      
      // "Other" input field
      #field_donation-amount2-other_6-otext {
        padding: 0 .5rem;
        position: absolute;
        margin-top: 0.5rem;
        width: calc(33.33% - 20px);
        box-sizing: border-box;
      }
      
      // Hover states
      > div:hover {
        label, div {
          background: var(--color-brandBlue) !important;
        }
      }
    }
  }

  
  

// Column the kindful donate form is within (othewise it breaks out)
.wp-block-advanced-columns-column-87c3489bae2ca26ab55c8eb81adda0d3 {
    min-width: 360px;
  }



/* About Page - Temporary until we get People Post Type */

#post-11514 .entry-content .wp-block-column h5.wp-block-heading,
#post-11514 .entry-content .wp-block-column h5.wp-block-heading + p {
    margin: 0;
}

#post-11514 .entry-content .wp-block-column h5.wp-block-heading + p {
    margin-top: 0.5rem;
    line-height: 1.4rem;
}

// SIMPLE BANNER

#simple-banner {
    
    .simple-banner-text {
        text-wrap: balance;
      }
    
    & a {
        text-decoration: 2px dotted underline;
    }

    & a:hover {
        text-decoration: solid underline;
    }
}

// Search Results Page
// search form is inserted at the top of the results. This is the styling for that form.

article entry.search-form-in-results {
    width: 100%;
  }
  
  article .search-form-in-results form .search-field {
    width: 70%;
    margin-right: 1rem;
  }

// RELATED POSTS

.taxopress-related-posts {
    background: var(--color-brandBeige);
    padding: 2em
  }

/****************/
/* Footer       */
/****************/

.widget ul {
    margin-left: 1rem;
}


/* 
 *
 * FORMIDDABLE FORMS
 *
 */

.frm_forms fieldset {
    padding: 0
}

.frm-star-group .frmsvg {
    fill: var(--color-brandYellow);
}

input + .frm_description,
select + .frm_description,
textarea + .frm_description,
.frm_opt_container + .frm_description {
    font-family: var(--font-serif);
    font-size: 0.9rem;
    color: var(--color-brandGrey);
    font-style: italic;
}

.frm_range_container .frm_range_value {
    font-family: var(--font-serif);
    font-size: 1.2rem;
    color: var(--color-brandGrey);
    font-style: italic;
    margin-left: 0.5rem;
}

input:checked + .frm_switch .frm_slider {
    background-color: var(--color-brandBlue); 
}

.frm_opt_container label {
    font-weight: 400;
}

.frm_required {
    color: var(--color-brandRed);
}

.frm_range_container input {
    background-color: var(--color-brandBeige);
}

.frm_slider {
    background-color: var(--color-brandGrey);
}

.frm_range_container input {
    border-radius: 1rem;
}


.frm_form_field {
    margin: 1em 0;
}

.frm_description {
    font-size: 1rem;
}

.frm_error {
    color: var(--color-brandWhite);
    background: var(--color-brandRed);
    font-weight: bold;
    padding: 0.3em;
}

.frm_primary_label {
    display: block;
}

// File upload dropzone
.frm_dropzone .dz-message {
    border: 2px dotted var(--color-brandGrey);
    border-radius: 1rem;
    line-height: 1.2rem;
}

div.frm_dropzone {
    max-width: 200px;
    margin: auto;
}

div.frm_dropzone + .frm_description {
    text-align: center;
}

.frmsvg {
    fill: var(--color-brandBlack);
}

.frmsvg:hover {
    fill: var(--color-brandGrey);
}

.logged-in .frm_grid_container {
    max-width: none;
}


