/***********/
/* Archive */
/***********/

@media( min-width: 768px ) {

	@supports ( display: grid ) {
		.c4aa-excerpt-grid .entry {
			display: grid;
			grid-template-columns: 2fr 1fr;
			grid-template-rows: minmax(100px, min-content) 1fr;
			grid-gap: 1rem;
	
			max-width: 1100px;
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 1rem;
			padding-top: 1rem;
			padding-left: 1rem;
			padding-right: 1rem;
		}

		.c4aa-excerpt-grid .entry .entry-header,
		.c4aa-excerpt-grid .entry .entry-footer,
		.c4aa-excerpt-grid .entry .entry-content,
		.c4aa-excerpt-grid .entry .post-thumbnail {
			margin: 0;
			padding: 0;
		}

		.c4aa-excerpt-grid .entry-header {
			display: flex;
			flex-direction: column;
			justify-content: end;
		}

		.c4aa-excerpt-grid .entry-header {
			grid-column: 1;
		}

		.c4aa-excerpt-grid .entry .entry-content {
			grid-column: 1;
			max-width: none;
		}

		.c4aa-excerpt-grid .entry .post-thumbnail {
			grid-row: 1 / -1;
			grid-column: 2;
		}

		.c4aa-excerpt-grid .entry .post-thumbnail .post-thumbnail-inner {
			display: flex;
			height: 100%;
		}

		.c4aa-excerpt-grid .entry .entry-footer {
			grid-column: 1 / -1;
			max-width: none;
		}
	}

}

/****************/
/* Donate Form */
/***************/

form[id*="give-form"] #give-final-total-wrap .give-donation-total-label {
	background-color: var(--color-brandGrey);
	color: white;
}

form[id*="give-form"] .give-donation-amount .give-currency-symbol {
	background-color: var(--color-brandBlack);
	color: white;
}

form[id*="give-form"] .give-cs-mini-dropdown-icon::before {
	border-color: white transparent transparent;
}

form[id*="give-form"] legend,
form.give-form legend {
	background-color: var(--color-brandBlack);
}

.give-btn,
.give-btn:hover {
	background-color: var(--color-brandRed);
}

.give-modal form[id*="give-form"] .give-payment-mode-label {
	padding-top: 2rem;
}

.give-progress-bar {
	background: var( --color-brandWhite );
}


.mfp-content form.give-form legend, form[id*="give-form"] legend, legend:not(.give-hidden) {
	margin-left: -1rem;
}
#mc_embed_signup_scroll p:first-of-type {
	font-weight: bold;
	font-size: 2rem;
}

/****************************************/
/* Main Menu / Branding Container */
/****************************************/

/* style containers */
.featured-image .site-branding-container,
.site-header:not(.featured-image) {
	background-color:  #fff;
	z-index: 10;
}

.featured-image .site-branding-container,
.site-header {
	padding: 1rem;
}

.site-branding {
	display: flex;
	align-items: center;
}

/* prevent menu items from wrapping mid word */
.site-branding ul li {
	white-space: nowrap;
}

/* stile the text-logo image */
.c4aa-text-logo {
	display: inline-block;
	background-size: cover;
	height: 0;
	width: 0;
	margin-right: 10px;
}

.site-title {
	margin: 0;
}

/* style text and icon logo hover */
.site-logo .custom-logo-link:hover, 
.site-logo .custom-logo-link:active, 
.site-logo .custom-logo-link:focus,
.site-header.featured-image .custom-logo-link:hover,
.site-header.featured-image .custom-logo-link:active,
.site-header.featured-image .custom-logo-link:focus,
.c4aa-text-logo:hover,
.c4aa-text-logo:active,
.c4aa-text-logo:hover:focus {
	box-shadow: none;
	opacity: 0.7;
}

/* style menu items text  */
.site-header.featured-image .main-navigation a, 
.site-header.featured-image .main-navigation a + svg, 
.site-header.featured-image .social-navigation a, 
.site-header.featured-image .site-featured-image a,
.main-navigation .main-menu > li > a, 
.main-navigation .main-menu > li .svg-icon  {
	color:  var( --color-brandBlack );
}

.site-header.featured-image .main-navigation a:hover, 
.site-header.featured-image .main-navigation a:active, 
.site-header.featured-image .main-navigation a + svg:hover, 
.site-header.featured-image .main-navigation a + svg:active, 
.site-header.featured-image .social-navigation a:hover, 
.site-header.featured-image .social-navigation a:active, 
.site-header.featured-image .site-featured-image a:hover 
.site-header.featured-image .site-featured-image a:active {
	color:  var( --color-brandRed );
	opacity: 1;
}

.main-menu li {
	font-size: 1rem;
}


/* place navigation at bottom of container*/
#site-navigation {
	width: 100%;
	order: 3;
	margin-right: auto;
}

@media( min-width: 768px )  {
	.site-branding {
		margin: 0;
	}
	
	/* override parent theme logo positioning */
	.site-logo {
		position: static;
	}
}

@media( min-width: 1000px ) {
	.site-branding {
		margin: 0 calc(10% + 60px);
	}
}

@media( min-width: 1260px )  {
	.site-branding {
		min-height: 5rem;
		flex-wrap: nowrap;
		justify-content: space-evenly;
	}

	.c4aa-text-logo {
		height: 44px;
		width: 210px;
	}

	/* place navigtation between logos and align vertically */
	#site-navigation {
		width: auto;
		order: 2;
	}

	/* move logo to the right */
	.site-logo {
		order: 3;
	}
}



/* 
 * Block Color Palette Colors
 *
 * Note: the namespace for each color is `caa` instead of `c4aa` because Gutenberg
 * adds a hypen in front of the 4 in CSS classes, and it is cleaner to omit it.
 */

/* Beige */

.entry .entry-content *[class*='has-'].has-caa-beige-background-color {
	background-color: var( --color-brandBeige);
}

.entry .entry-content *[class*='has-'].has-caa-beige-color {
	color: var( --color-brandBeige);
}

/* Black */

.entry .entry-content *[class*='has-'].has-caa-black-background-color {
	background-color: var( --color-brandBlack);
}

.entry .entry-content *[class*='has-'].has-caa-black-color {
	color: var( --color-brandBlack);
}

/* Blue */

.entry .entry-content *[class*='has-'].has-caa-blue-background-color {
	background-color: var( --color-brandBlue);
}

.entry .entry-content *[class*='has-'].has-caa-blue-color {
	color: var( --color-brandBlue);
}

/* Grey */

.has-caa-grey-background-color {
	background-color: var( --color-brandGrey);
}

.entry .entry-content *[class*='has-'].has-caa-grey-color {
	color: var( --color-brandGrey);
}

/* Red */

.entry .entry-content *[class*='has-'].has-caa-red-background-color {
	background-color: var( --color-brandRed);
}

.entry .entry-content *[class*='has-'].has-caa-red-color {
	color: var( --color-brandRed);
}

/* White */

.entry .entry-content *[class*='has-'].has-caa-white-background-color {
	background-color: var( --color-brandWhite);
}

.entry .entry-content *[class*='has-'].has-caa-white-color {
	color: var( --color-brandWhite);
}

/* Yellow */

.entry .entry-content *[class*='has-'].has-caa-yellow-background-color {
	background-color: var( --color-brandYellow);
}

.entry .entry-content *[class*='has-'].has-caa-yellow-color {
	color: var( --color-brandYellow);
}



/****************/
/* Footer       */
/****************/

.widget ul {
	margin-left: 1rem;
}

/*********************/
/* Formiddable Forms */
/*********************/

.frm_required {
    color: var(--color-brandRed);
}

.frm_form_field {
    margin: 1em 0;
}

.frm_form_field input {
    width: 100%;
}
