/* Algorithms */

.a-colophon-grid {
  display: grid;
  grid-gap: 1rem;
}

@media (min-width: 768px) {
  .a-colophon-grid {
    grid-template-columns: 1fr 80px 1fr;
  }
}

/* Utilities */

.no-hyphens * {
  -webkit-hyphens: manual;
  -ms-hyphens: manual;
  hyphens: manual;
}

.u-display-inline-block {
  display: inline-block;
}

.u-display-block {
  display: block;
}

.u-text-align-center {
  text-align: center;
}

.u-align-items-center {
  align-items: center;
}

.u-text-align-right {
  text-align: right;
}

/* Viewport Height Utilities */

.u-min-height-100vh {
  min-height: 100vh !important;
}

.u-min-height-80vh {
  min-height: 80vh !important;
}

/* Rotation Utilities */

.u-rotate-1 {
  transform: rotate(1deg);
}

.u-rotate-neg1 {
  transform: rotate(-1deg);
}

.u-rotate-2 {
  transform: rotate(2deg);
}

.u-rotate-neg2 {
  transform: rotate(-2deg);
}

.u-rotate-3 {
  transform: rotate(3deg);
}

.u-rotate-neg3 {
  transform: rotate(-3deg);
}

.u-rotate-45 {
  transform: rotate(45deg);
}

.u-rotate-neg45 {
  transform: rotate(-45deg);
}

.u-rotate-90 {
  transform: rotate(90deg);
}

.u-rotate-neg90 {
  transform: rotate(-90deg);
}

.u-rotate-180 {
  transform: rotate(180deg);
}

.u-flip-horizontal {
  transform: scaleX(-1);
}

.u-multiply {
  mix-blend-mode: multiply;
}

.u-darken {
  mix-blend-mode: darken;
}

.u-rotate-random {
  /* this is handled in clipPaths.js */
}