.is-style-c4aa-clipPath-heading,
.archive h2.entry-title,
header:not(.featured-image) h1.entry-title,
.widget-title,
.wp-block-quote,
.wp-block-pullquote {
	clip-path: polygon( 
		calc( var( --topLeftX ) * 1px ) 
		calc( var( --topLeftY ) * 1px ), 
		calc( 100% - ( var( --topRightX ) * 1px ) ) 
		calc( var( --topRightY ) * 1px ), 
		calc( 100% - ( var( --bottomRightX ) * 1px ) ) 
		calc( 100% - ( var( --bottomRightY ) * 1px ) ), 
		calc( var( --bottomLeftX ) * 1px ) 
		calc( 100% - ( var( --bottomLeftY ) * 1px ) )
	);
		-webkit-clip-path: polygon( 
			calc( var( --topLeftX ) * 1px ) 
			calc( var( --topLeftY ) * 1px ), 
			calc( 100% - ( var( --topRightX ) * 1px ) ) 
			calc( var( --topRightY ) * 1px ), 
			calc( 100% - ( var( --bottomRightX ) * 1px ) ) 
			calc( 100% - ( var( --bottomRightY ) * 1px ) ), 
			calc( var( --bottomLeftX ) * 1px ) 
			calc( 100% - ( var( --bottomLeftY ) * 1px ) )
		);

	transform: rotate( calc( var( --rotate) * 1deg ) );
}

/* Prevent weird box sizing when quotes are in 
columns block */
.wp-block-column .wp-block-quote,
.wp-block-column .wp-block-pullquote {
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.is-style-c4aa-clipPath-heading, 
.entry .entry-content .is-style-c4aa-clipPath-heading.has-background,
.archive h2.entry-title,
header:not(.featured-image) h1.entry-title,
.widget-title,
.wp-block-quote {
	padding: 2rem;
}

/*
   If .wp-block-pullquote is the first element in entry content, 
   or if it is below the video block on the homepage
   only apply clip-path to bottom corner Ys,
   and remove the top margin so it is flush with the element above
*/

.entry-content > *:first-child.wp-block-pullquote,
.home .entry-content > .wp-block-cover:first-child + .wp-block-pullquote {
	clip-path: polygon( 
		0 0, 
		100% 0, 
		100% 
		calc( 100% - ( var( --bottomRightY ) * 3px ) ),
		0 
		calc( 100% - ( var( --bottomLeftY ) * 0px ) )
	);

	transform: initial;
	margin-top: 0;
}

/* Headers */

header:not(.featured-image) h1.entry-title,
h1.is-style-c4aa-clipPath-heading,
h2.is-style-c4aa-clipPath-heading,
.archive h2.entry-title,
.widget-title,
h3.is-style-c4aa-clipPath-heading,
h4.is-style-c4aa-clipPath-heading {
	color: var( --color-brandWhite );
}

h5.is-style-c4aa-clipPath-heading,
h6.is-style-c4aa-clipPath-heading {
	color: var( --color-brandBlack );	
}

header:not(.featured-image) h1.entry-title {
	background: var( --color-brandBlack );
}

h2.is-style-c4aa-clipPath-heading,
.widget-title,
.archive h2.entry-title {
	background: var( --color-brandGrey );
}

h2:before.is-style-c4aa-clipPath-heading, 
.entry .entry-title:before.is-style-c4aa-clipPath-heading {
	content: none;
}

h5.is-style-c4aa-clipPath-heading:not(.has-text-color) a,
h6.is-style-c4aa-clipPath-heading:not(.has-text-color) a {
	color: var( --color-brandBlack );
}

h4.is-style-c4aa-clipPath-heading:not(.has-text-color) a,
h4.is-style-c4aa-clipPath-heading:not(.has-text-color) a:hover {
	color: var( --color-brandWhite );
}

.widget-title {
	font-size: 1.6875em;
	margin-left: -1rem;
}

h1.is-style-c4aa-clipPath-heading,
h3.is-style-c4aa-clipPath-heading {
	background: var( --color-brandBlack );
	display: block;
}

h5.is-style-c4aa-clipPath-heading,
h6.is-style-c4aa-clipPath-heading {
	background: var( --color-brandWhite );
	display: block;
}

h4.is-style-c4aa-clipPath-heading {
	background: var( --color-brandRed ); 
	display: block;
}

@media only screen and (min-width: 768px) {
	.entry .entry-content > h2.is-style-c4aa-clipPath-heading,
	.entry .entry-content > h3.is-style-c4aa-clipPath-heading,
	.entry h2.entry-title.is-style-c4aa-clipPath-heading,
	h2.is-style-c4aa-clipPath-heading,
	h3.is-style-c4aa-clipPath-heading {
		transform: translate(-2rem, 0)
	}

	.entry .entry-content > h3.is-style-c4aa-clipPath-heading,
	h3.is-style-c4aa-clipPath-heading {

	}

	.entry .entry-content > h4.is-style-c4aa-clipPath-heading,
	h4.is-style-c4aa-clipPath-heading {
		padding-left: 4rem;
		transform: translate(-4rem, 0)
	}
}

